<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
	<title>.::Proyecto cero::.</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css"	href="resource/css/site-style.css"> </link>
	<script type="text/javascript" src="resource/js/Login.js"></script>
	<link rel="stylesheet" type="text/css"	href="resource/css/Login.css"> </link>
	</h:head>
	<h:body >
	<div id="content-gral-log2">
<!-- 		<img class="imgLog" src="resource/images/Login/logo.png" /> -->
<!-- 		<div> -->
<!-- 			<font class="text_logo">Bienvenido al Sistema de Autenticaci&oacute;n de Cero</font> -->
<!-- 		</div> -->
		<div id="div-token-datos">
		<h:form id="log-token-form">
			<table id="tablaToken" class="tablaLog">
				<tr class="anchoLog">
					<td>
						<p:outputLabel class="textTime inputTamano"> Tiempo restante:
						  <h:outputText id="txt_count" value="#{loginView.number}" /> Seg</p:outputLabel>
						  <p:poll interval="1" listener="#{loginView.decrementa}" update="txt_count" />
					</td>
				</tr>
				<tr>
					<td>
						<p:inputText id="txtPasswd" type="password" 
						onkeypress="return justNumbers(event); colorGris();"
						maxlength="6" class="inputTamano" placeholder="Token..."/>
					</td>
				</tr>
				<tr class="anchoLog">
					<td>
						<h:commandButton class="btnIngresa" onclick="cargaLogBusqueda();" value="Ingresar"/>
					</td>
				</tr>
			</table>
		</h:form>
		</div>
	</div>
	</h:body>
</html>