<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>.::Proyecto cero::.</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="resource/css/site-style.css"></link>
	<link rel="stylesheet" type="text/css" href="resource/css/Login.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resource/css/template_personas.css"></link>
	<script type="text/javascript" src="resource/js/busqueda.js"></script>
</h:head>
<h:body onload="#{template.init()}">

	<nav class="navbar navbar-inverse">
	<div class="col-xs-12 header" id='header'>
		<div>


			<span class="header_fecha"> <p:clock
					pattern="dd/MM/yyyy hh:mm:ss a " mode="server" id="reloj"
					class="reloj" />
			</span>

			<table class="user_group">
				<tr>
					<td><font class="header_userpass">Usuario:</font> <span
						class="header_userpass">yaromero</span></td>
				</tr>
				<tr>
					<td><font class="header_userpass">Grupo:</font> <span
						class="header_userpass">Administrador de sistemas</span></td>
				</tr>
			</table>
		</div>
	</div>
	<h:form>
		<div class="col-xs-12 cabecera" id='cabecera'>
			<table>
				<tr>
					<td class="cabecera_nombre"><font
						class="texto_banco tamanoTitulo">CERO - Men&uacute;
						Principal</font> <span class="texto_banco"></span></td>
				</tr>
			</table>
		</div>
	</h:form> </nav>




	<div>
		<!-- <h:form> -->
		<div class="content_principal">
			<div class="row">
				<div id="busqueda-content" class="col-sm-3 busqueda-content">

					<!-- ********************************************pantalla Busqueda********************************************************** -->

					<div id="busquedaContent">
						<h:form id="busquedaIdFrm">
							<table class="tableBusqueda labelAzul">
								<tr>
									<td><font>B&uacute;squeda del cliente</font></td>
								</tr>
								<tr>
									<td colspan="2"><h:inputText class="form-control"
											value="#{busquedaView.beanClienteEntrada.noCliente}" /></td>
									<td class="textRight" colspan="2"><h:commandLink class=""
											action="#{busquedaView.busquedaClienteId}"
											update="resultadoContent">
											<h:graphicImage class="imagen dimensionIcon buscarIcon mr30"
												value="src=/../resource/images/Login/buscar.png"></h:graphicImage>
										</h:commandLink></td>
								</tr>
								<tr>
									<td class="textRight"><a class="buscarLink imagen">B&uacute;squeda
											avanzada</a></td>
								</tr>
							</table>
						</h:form>
					</div>
					<div class="borde criteriosBusquedaInputs">
						<h:form id="busquedaAvanzadaFrm">
							<font class="etiquetaBorde">Criterios de b&uacute;squeda</font>

							<table class="table labelAzul">
								<tr>
									<td><font>Primer nombre:</font></td>
									<td><h:inputText id="nombreCliente" class="form-control"
											value="#{busquedaView.beanClienteEntrada.primerNombre}">
										</h:inputText></td>
								</tr>

								<tr>
									<td><font>Segundo nombre:</font></td>
									<td><h:inputText id="segundoNombre" class="form-control"
											value="#{busquedaView.beanClienteEntrada.segundoNombre}">
										</h:inputText></td>
								</tr>

								<tr>
									<td><font>Apellido paterno:</font></td>
									<td><h:inputText id="apellidoPaterno" class="form-control"
											value="#{busquedaView.beanClienteEntrada.apellidoPaterno}">
										</h:inputText></td>
								</tr>


								<tr>
									<td><font>Apellido materno:</font></td>
									<td><h:inputText id="apellidoMaterno" class="form-control"
											value="#{busquedaView.beanClienteEntrada.apellidoMaterno}">
										</h:inputText></td>
								</tr>

								<tr>
									<td><font>Fecha nacimiento:</font></td>
									<td><h:inputText id="fechaNacimiento" class="form-control"
											value="#{busquedaView.beanClienteEntrada.fechaNacimiento}">
										</h:inputText></td>
								</tr>

								<tr>
									<td><font>N&uacute;mero celular:</font></td>
									<td><h:inputText id="numeroCelular" class="form-control"
											value="#{busquedaView.beanClienteEntrada.numeroCelular}">
										</h:inputText></td>
								</tr>

								<tr>
									<td class="textRight" colspan="2"><h:commandLink class=""
											action="#{busquedaView.busquedaClienteAvanzada}"
											update="resultadoContent">
											<h:graphicImage class="imagen dimensionIcon buscarIcon mr40"
												value="src=/../resource/images/Login/buscar.png"></h:graphicImage>
										</h:commandLink> <h:graphicImage class="imagen dimensionIcon cancelarBusqueda"
											value="/resource/images/Login/cancelar.png"></h:graphicImage></td>
								</tr>

							</table>
						</h:form>
					</div>
					<div id="resultadoContent">
						<input type="hidden" id="isMostrar"
							value="#{busquedaView.mostrarResultado}"></input>
						<h:form id="resultadoContentFrm"
							rendered="#{busquedaView.mostrarResultado}">
							<div class="borde resultadosBusquedaLabel">
								<font class="etiquetaBorde">Informaci&oacute;n</font>

								<table class="table labelAzul">
									<tr>
										<td><font>No. cliente:</font></td>
										<td><font>
											<h:outputText
												value="#{busquedaView.beanCliente.beanInformacion.noCliente}" /></font></td>
									</tr>

									<tr>
										<td><font>Nombre:</font></td>
										<td><font>
											<h:outputText
												value="#{busquedaView.beanCliente.datosGenerales.primerNombre} #{busquedaView.beanCliente.datosGenerales.segundoNombre} 
				 #{busquedaView.beanCliente.datosGenerales.primerApellido}  #{busquedaView.beanCliente.datosGenerales.segundoApellido}" />
										</font></td>
									</tr>

									<tr>
										<td><font>Tipo de cliente:</font></td>
										<td><font>
											<h:outputText
												value="#{busquedaView.beanCliente.beanInformacion.tipocliente}" />
										</font></td>
									</tr>

									<tr>
										<td><font>Direcci&oacute;n:</font></td>
										<td><font>
											<h:outputText
												value="#{busquedaView.beanCliente.beanInformacion.direccion}" /></font></td>
									</tr>

									<tr>
										<td><font>Sucursal origen:</font></td>
										<td><font>
											<h:outputText
												value="#{busquedaView.beanCliente.beanInformacion.sucursalOrigen}" /></font></td>
									</tr>

									<tr>
										<td><font>Personalidad:</font></td>
										<td><font>
											<h:outputText
												value="#{busquedaView.beanCliente.beanInformacion.personalidad}" />
										</font></td>
									</tr>

									<tr>
										<td><font>Celular:</font></td>
										<td><font>
											<h:outputText
												value="#{busquedaView.beanCliente.beanInformacion.celular}" /></font></td>
									</tr>

									<tr>
										<td><font>Correo:</font></td>
										<td><font>
											<h:outputText
												value="#{busquedaView.beanCliente.beanInformacion.correo}" /></font></td>
									</tr>

									<tr>
										<td><font>Sexo:</font></td>
										<td><font>
											<h:outputText
												value="Sexo: #{busquedaView.beanCliente.beanInformacion.sexo}" /></font></td>
									</tr>

									<tr>
										<td><font>Edad:</font></td>
										<td><font>
											<h:outputText
												value="Edad: #{busquedaView.beanCliente.beanInformacion.edad}" /></font></td>
									</tr>
								</table>

							</div>

						</h:form>

					</div>


					<!-- *********************************************************************************************************************** -->




				</div>
				<h:form>
					<div class="col-sm-9 ">
						<table class="table">
							<tr>
								<td><p:commandButton class="seccionesButton clientes"
										id="clientes" value="Clientes"
										action="#{busquedaView.enviarPersonas()}" /></td>
							</tr>
							<tr>
								<td><p:commandButton class="seccionesButton" id="credito"
										value="Credito" /></td>
							</tr>
							<tr>
								<td><p:commandButton class="seccionesButton ahorro"
										id="ahorro" value="Ahorro" /></td>
							</tr>
							<tr>
								<td><p:commandButton class="seccionesButton inversiones"
										id="inversiones" value="Inversiones" /></td>
							</tr>
							<tr>
								<td><p:commandButton class="seccionesButton seguros"
										id="seguros" value="Seguros" /></td>
							</tr>
							<tr>
								<td><p:commandButton class="seccionesButton"
										id="seguimiento" value="Seguimiento" /></td>
							</tr>
							<tr>
								<td><p:commandButton class="seccionesButton" id="reportes"
										value="Reportes" /></td>
							</tr>
						</table>


					</div>
				</h:form>
			</div>

		</div>
		<!-- </h:form> -->
	</div>

	<script src="resource/js/bootstrap.min.js"></script>

	<!-- Menu Collapse Script -->
	<script>
    /*Menu-toggle*/
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>


	<div id='alertas' class="alertas">
		<!-- Apartado para Alertas -->
		<div class='alertt'>
			<span><strong>#{template.mensaje}</strong></span>
		</div>
	</div>
	<footer id='message' class="message"> <!-- Apartado para Mensajes -->
	<div class='messagetBusqueda'>
		<span><strong> DATOS = CTRL + D, DOMICILIOS = CTRL +
				ALT + D, TELEFONOS = CTRL + P, CONSULTA CREDITICIAS = CTRL + ALT +
				C, IDENTIFICACIONES = CTRL + I <br /> EXPEDIENTES = CTRL + ALT + E
				, AUTORIZACIONES = CTRL + ALT + A, INVOLUCRADOS = CTRL + ALT + I
		</strong></span>
	</div>

	</footer>

</h:body>
</html>