<!-- Pagina principal de Login
Autor: GBG
Fecha: 25/07/2017
 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>ASP Integra Opciones</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="resource/js/jquery-3.2.1.min.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="resource/css/site-style.css"></link>
	<script type="text/javascript" src="resource/js/Login.js"></script>
	<link rel="stylesheet" type="text/css" href="resource/css/Login.css">
	</link>
</h:head>
<h:body onload="#{loginView.init()}">
	<p:tab class="login_tab">
		<div class="col-xs-12 cabecera" id='cabecera'>
<!-- 			<b><font class="texto_banco ceroHead">CERO</font></b> -->
<!-- 			 <img class="imgArrow" src="resource/images/Login/arrowHead1.png" /> -->
			  <font	class="texto_banco letraHead">Sistema Integral de Cr&eacute;dito, Seguros, Ahorro e Inversi&oacute;n </font>
		</div>
		<div id="content-gral-log">
			<h:form id="login">
			<p:focus for="txtUser" />
				<img class="imgLog" src="resource/images/Login/logo.png" />
				<div>
					<font class="text_logo">Bienvenido al Sistema de
					Autenticaci&oacute;n de Cero</font>
				</div>
				<div id="div-info">
  	 	 		    <input type="hidden" id="txtUserEncriptado" value="" />
					<table id="tablaLog" class="tablaLog">
						<tr class="anchoLog">
						 <p:messages id="growl" showDetail="true" sticky="true"  class="mensajeAlerta"/>  
			
							<td><p:inputText id="txtUser" value="#{loginView.user}"
									class="inputTamano colorgris"
									placeholder="Ingrese su usuario..."  onkeypress="colorGristxtUser();">
								  <p:ajax event="keyup" update="arrowLog arrowLog2" />
        						</p:inputText>
							</td>
						</tr>
						<tr>
							<td><p:inputText id="txtContrasena" type="password" value="#{loginView.pass}"
									maxlength="9" class="inputTamano colorgris"
									placeholder="Ingrese su Contraseña" onkeypress="colorGris();">
									<p:ajax event="keyup" update="arrowLog arrowLog2" />
        						</p:inputText>								
							</td>
						</tr>
						</table>
						<br/>
						<br/>

				</div>
				
				
				
			<div id="div-button" class="buttonContent">
				 <h:outputText id="arrowLog2" type="hidden" value="123#{loginView.encriptado}" style="visibility:hidden" />
				<p:commandButton class="loginButton" update="arrowLog2 growl" id="arrowLog" onclick="hidenFunction('#{loginView.user}','#{loginView.pass}'); cargalogtoken();" image="resource/images/Login/logArrow.png"  action="#{loginView.validar()}"  value="Ingresar" oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);" />
			</div>
		</h:form>
		</div>
		<footer id='message' class='message'>
		<div class="content-img-help">
			<img class="help-footer-log" src="resource/images/Login/help-log.png" />
		</div>
		<div class='messaget'>
			<span>&lt;&lt;Soluciones hechas a la medida de tus
				sueños&gt;&gt; </span>
		</div>
		<div class='txtCorp'>
			<span>&copy; 2017 - ASP Integra Opciones </span>
		</div>

		</footer>
		
	</p:tab>
</h:body>
</html>