<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>.::Proyecto cero::.</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		 <script src="resource/js/jquery-3.2.1.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="resource/css/site-style.css"></link>
	<script type="text/javascript" src="resource/js/Login.js"></script>
	<link rel="stylesheet" type="text/css" href="resource/css/Login.css">
	</link>
</h:head>
<h:body onload="#{autenticacionView.init()}">
	<p:tab class="login_tab">
		<div class="col-xs-12 cabecera" id='cabecera'>
<!-- 			<b><font class="texto_banco ceroHead">CERO</font></b> <img -->
<!-- 				class="imgArrow" src="resource/images/Login/arrowHead1.png" /> <font -->
<!-- 				class="texto_banco letraHead">Sistema Integral de -->
<!-- 			Cr&eacute;dito, Seguros, Ahorro e Inversi&oacute;n </font> -->
		</div>
		<div id="content-gral-log">
			<h:form id="login">
			 <p:growl id="growl" showDetail="true" />
 
<!-- 				<img class="imgLog" src="resource/images/Login/logo.png" /> -->
<!-- 				<div> -->
<!-- 					<font class="text_logo">Bienvenido al Sistema de -->
<!-- 					Autenticaci&oacute;n de Cero</font> -->
<!-- 				</div> -->
				<div id="div-info">
					<table id="tablaLog" class="tablaLog">
						<tr class="anchoLog">
							<td><p:inputText id="txtUser"
									class="inputTamano mayusculas colorgris"
									placeholder="Ingrese nueva contraseña" onkeypress="colorGris();" />
							</td>
						</tr>
						<tr>
							<td><p:inputText id="txtContrasena" type="password"
									maxlength="9" class="inputTamano mayusculas colorgris"
									placeholder="Confirme la contraseña" onkeypress="colorGris();" />
							</td>
						</tr>
						</table>
						<br/>
						<br/>
						<table id="tablaLog2" class="tablaLog">
						<tr>
							<td >
								<p:messages showDetail="true" />
								<p:captcha label="Captcha" id="captcha" requiredMessage="Debes ingresar el captcha"/>
							</td>
						</tr>
					</table>
				</div>
				
				
				
			<div id="div-button">
				<h:commandButton  id="arrowLog" class="imgLogArrow"  actionListener="#{autenticacionView.submit()}" onclick="cargalogtoken();" image="resource/images/Login/logArrow.png" />
			</div>
		</h:form>
		</div>
		<footer id='message' class='message'>
		<div class="content-img-help">
			<img class="help-footer-log" src="resource/images/Login/help-log.png" />
		</div>
		<div class='messaget'>
			<span>&lt;&lt;Soluciones hechas a la medida de tus
				sueños&gt;&gt; </span>
		</div>
		<div class='txtCorp'>
			<span>&copy; 2017 - ASP Integra Opciones </span>
		</div>

		</footer>
		
	</p:tab>
</h:body>
</html>