<!-- Pagina principal de Login
Autor: GBG
Fecha: 25/07/2017
 -->
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>ASP Integra Opciones</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css"	href="resource/css/site-style.css"> </link>
<!-- 	<script type="text/javascript" src="../resource/js/token.js"></script> -->
	<link rel="stylesheet" type="text/css"	href="resource/css/Login.css"> </link>

	</h:head>
	<h:body class="fondoBlanco"  onload="#{token.init()}">
	<div class="col-xs-12 cabecera" id='cabecera'>
<!-- 			<b><font class="texto_banco ceroHead">CERO</font></b> -->
<!-- 			 <img class="imgArrow" src="resource/images/Login/arrowHead1.png" /> -->
			  <font	class="texto_banco letraHead">Sistema Integral de Cr&eacute;dito, Seguros, Ahorro e Inversi&oacute;n </font>
		</div>
	<div id="content-gral-token" >
		<img class="imgLog" src="resource/images/Login/logo.png" />
		<div> 
			<font class="text_logo">Bienvenido al Sistema de Autenticación de Cero</font>
		</div>
		<div id="div-token-datos">
		<h:form id="log-token-form">
			<p:focus for="txtPasswd" />
		    <p:messages id="growl" showDetail="true" sticky="true" class="mensajeAlerta"/>  
			<table id="tablaToken" class="tablaLog">
				<tr class="anchoLog2">
				<tr><td><label class="textGris">Favor de ingresar el código enviado a su teléfono para continuar</label></td></tr>
					<td>
						<p:outputLabel class="textTime inputTamano"> Tiempo restante:
						  <h:outputText id="txt_count" value="#{token.token}" /> Seg</p:outputLabel>
						  <p:poll interval="1" listener="#{token.decrementa}" update="txt_count" />
					</td>
				</tr>
				<tr>
					<td>
						<p:inputText id="txtPasswd" type="password"  value="#{token.valor}"
						onkeypress="return justNumbers(event); colorGris();"
						maxlength="6" class="inputTamano" placeholder="Token..."/>
					</td>
				</tr>
				<tr class="buttonContent">
					<td>
						<p:commandButton class="loginButton"  action="#{token.validarToken()}"  update="growl" ajax="true"   value="Ingresar" oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);" />
						
					</td>
				</tr>
			</table> 
		</h:form>
		</div>
	</div>
	</h:body>
</html>