
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
		<script type="text/javascript" src="resource/js/acordionInvolucrados.js"></script>
		<link rel="stylesheet" type="text/css"	href="resource/css/involucrados.css"> </link>
		<link rel="stylesheet" href="resource/css/datosDomicilio.css" type="text/css" media="all" />
	</h:head>
<body onload="#{involucrados.init()}" >
<h:form>
	<div class='Acordion'>
		<p:growl id="msgs" showDetail="true" />
		<p:accordionPanel>
			<p:tab>
			 <f:facet name="title">
               <p:graphicImage value="resource/images/acordion/reloj.png"/>
               <h:outputText value="Lista de Involucrados"/>
            </f:facet>
			<div id="involucrados" class="content">
<!-- 			***********************INICIA CONTENIDO******************************* -->
				            <h:form class="content" > 
			<!-- Se obtiene la información del View para saber en que pantalla se encuentra -->
        	 <input type="hidden" value="#{involucrados.pantalla}" name="pantalla" id="pantalla"/> 
    	<p:tabView >
        <p:tab title="Datos">
            <h:panelGrid columns="2" cellpadding="10" id="tabDatos"  class="ancho100">
<!--             ****************************************************************************************** -->
               <h:form id="form-inv" class="content"  >
               <!-- Se obtiene la información del View para saber en que pantalla se encuentra -->
        	 <input type="hidden" value="#{involucrados.pantalla}" name="pantalla" id="pantalla"/> 
	         <div class="row p0m0" >
				<div class="col-md-2 col-md-offset-10 p0m0">
					<ul class="list-inline">
						<li class="list-inline-item alto1" >
							<p:commandLink id="buscar_involucrados" oncomplete="setTimeout(function() { $('[id$=msgs]').hide(1000); }, 2000);" class="brd0_bck0" >
	    						<h:graphicImage value="resource/images/buscar.png" class="imagenTam"/>
							</p:commandLink>
						</li>
						<li class="list-inline-item alto1" >
							<p:commandLink id="plus_involucrados" oncomplete="setTimeout(function() { $('[id$=msgs]').hide(1000); }, 2000);" class="brd0_bck0" >
	    						<h:graphicImage value="resource/images/plus.png" class="imagenTam"/>
							</p:commandLink>
						</li>
						<li class="list-inline-item alto1">
							<p:commandLink id="guardar_involucrados" oncomplete="setTimeout(function() { $('[id$=msgs]').hide(1000); }, 2000);" class="brd0_bck0" >
	    						<h:graphicImage value="resource/images/guardar.png"  class="imagenTam"/>
							</p:commandLink>
						</li>
						<li class="list-inline-item alto1" >
							<p:commandLink id="cerrar">
	    						<h:graphicImage value="resource/images/cerrar.png" class="imagenTam"/>
							</p:commandLink>
						</li>

					</ul>
				</div>
			</div> 
     				
            <table>
            <tbody>
				<tr>
					<td class="col-md-2"><font class="estiloEtiquetas"><b class="estiloEtiquetasDomicilios">Rol:</b></font></td>
					<td class="col-md-2">
						<p:selectOneMenu value="#{telefonos.tipoTelefono}" id="cmbTelefonosDatos01" class="comboSize text-uppercase"  onchange="validarExtension();">
									<f:selectItem itemValue="XXXX" itemLabel="--SELECCIONAR--" noSelectionOption="true"  />
 									 <f:selectItems value="#{telefonos.listtipotel}" />
						</p:selectOneMenu>
						<p:selectOneMenu required="true" requiredMessage="Seleccione una opci&oacute;n" class="comboSize" >
							<f:selectItem itemLabel="ACCIONISTA/SOCIO" itemValue="00" />
				            <f:selectItem itemLabel="01" itemValue="01" />
				            <f:selectItem itemLabel="02" itemValue="02" />
				            <f:selectItem itemLabel="03" itemValue="03" />
						</p:selectOneMenu>    
					</td>
					<td class="col-md-2"></td>
					<td class="col-md-2"></td>
				</tr>
				</tbody>
			</table>
        		
<!-- ******************************************************************** -->
	<div class='Acordion'>
		<p:growl id="msgs" showDetail="true" />
		<p:accordionPanel>
			<p:tab title="Datos Personales" >
			<div id="datosPersonalesInv" class="content tab2">
<!-- 			*************************INICIA CONTENIDO ACCORDEON INTERNO********************************* -->
	<h:form class="borde" >
	<!-- Se obtiene la información del View para saber en que pantalla se encuentra -->
    <input type="hidden" value="#{involucrados.pantalla}" name="pantalla" id="pantalla"/> 
	
        <div><font class="etiquetaBorde "><b>Datos personales</b></font></div>
        <table class="table tableCorrecion">
       <tr>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Primer nombre:</font> </td>
       <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value=""></h:inputText> </td>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios"> Segundo nombre:</font> </td>
       <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value=""></h:inputText></td>
	   <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Primer apellido:</font> </td>
       <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value=""></h:inputText></td>
        </tr>
        
        <tr>

       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Segundo apellido:</font></td>
       <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value=""></h:inputText></td>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Sexo:</font></td>
       <td class="paddin_gral"><input type="radio"/><font class="estiloEtiquetasDomicilios">Masculino</font><br />
       <input type="radio" /><font class="estiloEtiquetasDomicilios">Femenino</font> </td>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">CURP:</font> </td>
       <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value=""></h:inputText></td>
        </tr>
        <tr>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">RFC:</font></td>
       <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="" ></h:inputText></td>
      <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Edo civil:</font></td>
      <td class="paddin_gral">
        <p:selectOneMenu value="#{involucrados.tipoEstadoCivil}" id="sociosEdocivil" class="comboSize tipoLetraUbuntu" >
			<f:selectItem itemValue="XXXX" itemLabel="Seleccionar" noSelectionOption="true"  />
				 <f:selectItems value="#{involucrados.listEstadoCivil.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
		</p:selectOneMenu>
	  </td>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Ocupaci&oacute;n:</font></td>
       <td class="paddin_gral">
		       <p:selectOneMenu class="comboSize" id="sociosOcupacion" >
		       <f:selectItem itemValue="XXXX" itemLabel="Seleccionar" noSelectionOption="true"  />
		       	 <f:selectItems value="#{involucrados.ocupaciones.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
		        </p:selectOneMenu>
        </td>
        </tr>
        <tr>
        <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Tel&eacute;fono:</font></td>
       <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value=""></h:inputText> </td>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios"> Tipo de Tel&eacute;fono:</font></td>
       <td class="paddin_gral">
       
			<p:selectOneMenu class=" comboSize" id="sociosTipoTel"  value="#{involucrados.tipoTel}">
           <f:selectItem itemValue="XXXX" itemLabel="Seleccionar" noSelectionOption="true"  />
            <f:selectItems value="#{involucrados.tipoTel.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
        </p:selectOneMenu>
			
			 </td>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Compa&ntilde;ia tel</font></td>
       <td class="paddin_gral">
       <p:selectOneMenu class=" comboSize" id="sociosCompaniaCel"  value="#{involucrados.companiaTel}">
           <f:selectItem itemValue="XXXX" itemLabel="Seleccionar" noSelectionOption="true"  />
            <f:selectItems value="#{involucrados.companiaTel.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
        </p:selectOneMenu>
        </td>
        </tr>
        <tr>
        <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Nacionalidad:</font> </td>
       <td class="paddin_gral">
       
       <p:selectOneMenu class="comboSize" id="InvSociosNacionalidad" value="#{involucrados.nacionalidad}">
            <f:selectItem itemValue="XXXX" itemLabel="Seleccionar" noSelectionOption="true"  />
            <f:selectItems value="#{involucrados.nacionalidad.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
        </p:selectOneMenu>
        
        </td>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Estado Nac:</font> </td>
       <td class="paddin_gral">
       <p:selectOneMenu class="comboSize" id="InvSociosEdoNac" value="#{involucrados.estado}">
            <f:selectItem itemValue="XXXX" itemLabel="Seleccionar" noSelectionOption="true"  />
            <f:selectItems value="#{involucrados.estado.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
        </p:selectOneMenu></td>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Lugar Nac.:</font> </td>
       <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value=""></h:inputText> </td>
        </tr>
        <tr>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Acciones:</font> </td>
       <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value=""></h:inputText></td>
        <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">Correo:</font> </td>
        <td class="paddin_gral"><h:inputText class="w20" ></h:inputText><font class="uno_porciento">@</font> 
         <p:selectOneMenu  class="w70"  id="InvSociosCorreo" value="">
            <f:selectItems value=""></f:selectItems>
        </p:selectOneMenu></td>
       <td class="paddin_gral"><font class="estiloEtiquetasDomicilios">CURP:</font> </td>
        <td class="paddin_gral"><h:inputText class="form-control estiloMayus" value=""></h:inputText></td>
        <td class="paddin_gral"></td>
 		</tr>
        </table>
       
        </h:form>
			
			
<!-- 			**************************TERMINA CONTENIDO******************************** -->			
			</div>
				<h:panelGrid columns="2" cellpadding="10">
				</h:panelGrid>
			</p:tab>
			<!-- **********************************************************************8 -->
			<p:tab title="Domicilio">
						<div id="DomicilioInv" class="content tab2">
											
				<!-- *************************INICIA CONTENIDO************************ -->
					<h:form id="form-domDatos" class="content">
						<input type="hidden" value="#{involucrados.pantalla}"
							name="pantalla" id="pantalla" />
						<div class="row divIputContent">

						</div>
						<p:messages id="growl" showDetail="true" sticky="true" />

						<div class="row">
							<div class="col-sm-10">
								<table class="table">
									<tr>
										<td class="col-md-1"><font class="estiloEtiquetas">
												<b class="estiloEtiquetasDomicilios">C&oacute;digo Postal:</b>
										</font></td>
										<td><p:inputText maxlength="5" id="cp"
												class="input_cp text-uppercase "
												value="#{involucrados.codigoPostal}"
												onkeypress="return justNumbers(event);"  />
<!-- 												<p:ajax event="keyup" listener="#{involucrados.validarColonia()}" update ="domicilios_form:form-domDatos:cmbColonia"/> -->
												 <b class="colorRojo datoObligatorio">&#42;</b></td>
										<td class="col-md-6"><p:selectBooleanCheckbox
												id="checkTelDatos01" value="#{involucrados.principal}" class="check"></p:selectBooleanCheckbox><font
											class="estiloEtiquetas ml"><b class="estiloEtiquetasDomicilios">Principal</b></font></td>
									</tr>
									<tr>
										<td><font class="estiloEtiquetas"><b
												class="estiloEtiquetasDomicilios">Colonia:</b></font></td>
										<td>
										<p:selectOneMenu id="cmbColonia"
												value="#{involucrados.colIdCmbo}" class="cmbColonia "
												onchange="cambiaColorcmboColonia();">
												<f:selectItem itemLabel="SELECCIONAR" itemValue="" />
												 <f:selectItems value="#{involucrados.listColoniasFiltro.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
											</p:selectOneMenu> <b class="colorRojo datoObligatorio">&#42;</b>
											
											</td>

									</tr>
								</table>
							</div>
						</div>



						<div class="row">
							<div class="col-sm-10">
								<table class="table">
									<tr>
										<td><font class="estiloEtiquetas ml"><b
												class="estiloEtiquetasDomicilios">Ubicaci&oacute;n:</b></font></td>
									</tr>
									<tr>
										<td class="col-md-3"><p:selectOneMenu
												value="#{involucrados.ubicIdCmbo1}"
												id="CmbdomiciliosDatos02"
												class="comboSizeDomicilios estiloMayus"
												onchange="cambiaColorCmboUbic1();">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												<f:selectItems value="#{involucrados.ubic1.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
												
        									 	</p:selectOneMenu></td>

										<td class="col-md-7"><p:inputText id="txtDescrip1"
												class="tamanioCajaText2 text-uppercase" maxlength="150"
												value="#{involucrados.descripcionU1}">
											</p:inputText> <b class="colorRojo datoObligatorio">&#42;</b></td>

									</tr>

									<tr>
										<td><p:selectOneMenu id="CmbdomiciliosDatos03"
												value="#{involucrados.ubicIdCmbo2}"
												class="comboSizeDomicilios"
												onchange="cambiaColorCmboUbic2();">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												 <f:selectItems value="#{involucrados.ubic2.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
											</p:selectOneMenu></td>
										<td><p:inputText id="txtDescrip2"
												class="tamanioCajaText2 text-uppercase" maxlength="150"
												value="#{involucrados.descripcionU2}" /> <b
											class="colorRojo datoObligatorio">&#42;</b></td>

									</tr>

									<tr>
										<td><p:selectOneMenu id="CmbdomiciliosDatos04"
												value="#{involucrados.ubicIdCmbo3}"
												class="comboSizeDomicilios"
												onchange="cambiaColorCmboUbic3();">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												 <f:selectItems value="#{involucrados.ubic3.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
											</p:selectOneMenu></td>

										<td><p:inputText id="txtDescrip3"
												class="tamanioCajaText2 text-uppercase" maxlength="150"
												value="#{involucrados.descripcionU3}" /> <b
											class="colorRojo datoObligatorio">&#42;</b></td>

									</tr>

									<tr>
										<td><p:selectOneMenu id="CmbdomiciliosDatos05"
												value="#{involucrados.numIdCmbo1}"
												class="comboSizeDomicilios"
												onchange="cambiaColorCmbonum1();">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												 <f:selectItems value="#{involucrados.num1.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
											</p:selectOneMenu></td>

										<td><p:inputText id="txtDescripN1"
												class="tamanioCajaText text-uppercase" maxlength="100"
												value="#{involucrados.descripcionN1}" /> <b
											class="colorRojo datoObligatorio">&#42;</b></td>

									</tr>

									<tr>
										<td><p:selectOneMenu id="CmbdomiciliosDatos06"
												value="#{involucrados.numIdCmbo2}"
												class="comboSizeDomicilios"
												onchange="cambiaColorCmbonum2();">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												<f:selectItems value="#{involucrados.num2.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
											</p:selectOneMenu></td>
										<td><p:inputText id="txtDescripN2"
												class="tamanioCajaText text-uppercase" maxlength="100"
												value="#{involucrados.descripcionN2}" /></td>
									</tr>
								</table>
								<div class="contentReferencia-dom">
									<table class="tablaRef">
										<tr>
											<td><font class="estiloEtiquetas"><b
													class="estiloEtiquetasDomicilios">Referencia</b></font></td>
											<td class="paddin_gral col-md-12"><p:inputTextarea
													id='textarea' class="textarea  text-uppercase"
													maxlength="250" value="#{involucrados.referencia}" />
												<b class="colorRojo ">&#42;</b></td>
										</tr>
									</table>

								</div>
							</div>
							<div class="col-sm-2">
								<div class="divMapa">
									<table class="table">
										<tr>
											<td><font class="estiloEtiquetasDomicilios"><b
													class="estiloEtiquetasDomicilios">Ubicaci&oacute;n
														Geogr&aacute;fica:</b></font></td>
										</tr>
										<tr>
											<td><iframe class="map" src="index2.xhtml"></iframe></td>
										</tr>
										<tr>
											<td><b><font class="estiloEtiquetasDomicilios"><b
														class="estiloEtiquetasDomicilios">Latitud:</b></font> <font
													id="lt_map">24.27924</font> </b></td>
										</tr>
										<tr>
											<td><b><font class="estiloEtiquetasDomicilios"><b
														class="estiloEtiquetasDomicilios">Longitud:</b></font> <font
													id="lg_map">-110.384593</font></b></td>
										</tr>
										<tr>
											<td><font class="estiloEtiquetas"><b
													class="estiloEtiquetasDomicilios">Foto </b><font
													class="estiloEtiquetasDomicilios"><br /> <b
														class="estiloEtiquetasDomicilios">nombreImg</b></font></font> <img
												src="resource/images/adjuntar.png" class="dimensionAdjunta" />
											   <p:fileUpload cancelLabel="#{msg['cancel']}" fileUploadListener="#{involucrados.fileUpload}"
												multiple="false" sizeLimit="1000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
										
											</td>
										</tr>
									</table>

								</div>
							</div>
						</div>


						<div class="content-direccion">
							<table >
								<tr class="trTop">
									<td class="col-md-1 "><font class="estiloEtiquetas"><b
											class="estiloEtiquetasDomicilios">Direcci&oacute;n</b> </font></td>
									<td class="" ><font ><h:outputText value="#{involucrados.direccion}" />
									</font></td>
								</tr>
							</table>
						</div>
					</h:form>



					<!-- 			***********************TERMINA CONTENIDO************************** -->
						
						
						
						
						</div>
				<h:panelGrid columns="2" cellpadding="10">
				</h:panelGrid>
			</p:tab>
			
		</p:accordionPanel>
	</div>
<!-- 			******************************************************************** -->
</h:form>	
<!-- Se obtiene la información del View para saber en que pantalla se encuentra -->
        	 <input type="hidden" value="#{involucrados.pantalla}" name="pantalla" id="pantalla"/> 
            </h:panelGrid>
        </p:tab>
        <p:tab title="Lista Involucrados">
            <h:panelGrid columns="2" cellpadding="10">
        
        <p:dataTable var="inv" value="#{involucrados.listaInv}" emptyMessage="#{involucrados.mensaje}">

		<p:column class="cuatro_porciento" headerText="">
			<h:outputText  value="" />
			<p:graphicImage value="resource/images/escribir.PNG">
			</p:graphicImage>
		</p:column>
		
		<p:column class="cuarenta_porciento" headerText="Rol">
			<h:outputText value="#{inv.rol}" />
		</p:column>

		<p:column headerText="Nombre">
			<h:outputText value="#{inv.nombre}" />
		</p:column>

	</p:dataTable>
                
            </h:panelGrid>
        </p:tab>
    </p:tabView>
   
    	</h:form>
			
			
<!-- 			************************TERMINA CONTENIDO****************************** -->			
			</div>
				<h:panelGrid columns="2" cellpadding="10">
					
				</h:panelGrid>
			</p:tab>
			
		</p:accordionPanel>
	</div>
	</h:form>
</body>
</html> 