<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>
    
    <body>
    	
    
        <div class="content" >
       
        <h:form>
    	<table class="tablaDatos">
    	<tr >
    	<td style="width: 200px; background-color: gray;"><font size="2"> Rol:</font></td>
    	<td style="width: 150px;background-color: gray; "><font size="2">Nombre:</font> </td>
    	</tr>
    	
    	<tr>
    	<td><font size="2">SOCIO/ACCIONISTA</font></td>
    	<td><font size="2">RAFAEL AMAYA QUINTERO</font></td>
    	</tr>
    	
    	</table >
    	
    	<table class="tablaDatos">
    	<tr>
    	<td><font>Rol:</font> </td>
    	<td><font>Nombre(s):</font> </td>
    	<td><font>Apellido Paterno:</font> </td>
    	</tr>
    	
    	<tr>
    	<td><h:inputText class='input200px'></h:inputText></td>
    	<td><h:inputText class='input200px'></h:inputText></td>
    	<td><h:inputText class='input200px'></h:inputText></td>
    	</tr>
    	
    	<tr>
    	<td>Apellido Materno:</td>
    	<td>Sexo:</td>
    	</tr>
    	
    	<tr>
    	<td><h:inputText class='input200px'></h:inputText> </td>
    	<td><span> <input type="radio"/>Masculino</span> <span><input type="radio"/>Femenino</span></td>
    	</tr>
    	</table>
    	
    	<table class="tablaDatos">
    	<tr>
    	<td>Nombramiento:</td>
    	</tr>
    	<tr>
    	<td><h:inputText class='inputBig'></h:inputText> </td>
    	</tr>
    	</table>
    	<table class="tablaDatos">
    	<tr><td>Lugar de nacimiento:</td>
    	<td>Nacionalidad:</td>
    	<td>Edo. civil:</td></tr>
    	
    	<tr><td><h:inputText class='input200px'></h:inputText></td>
    	<td><p:selectOneMenu id="ListaNac" class='comboSize'>
            <f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
    	<td><h:inputText class='input200px'></h:inputText> </td>
    	 </tr>
    	 
    	 <tr><td>Ocupaci&oacute;n:</td>
    	<td>C&oacute;digo Postal:</td>
    	<td>Colonia:</td></tr>
    	
    	<tr><td><p:selectOneMenu id="ListaOcupacion" class='comboSize' >
            <f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
    	<td><h:inputText class='input200px'>></h:inputText> </td>
    	<td><p:selectOneMenu id="ListaColonia"  class='comboSize'>
            <f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
    	 </tr>
    	</table>
    	
    	<table class="tablaDatos">
    	<tr>
    	<td>Direcci&oacute;n:</td>
    	</tr>
    	<tr><td><h:inputText class='inputBig'></h:inputText> </td></tr>
    	</table>
    	</h:form>
        </div>
    </body>
</html>