<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>
    
    <body>
        <h:form class="content" >
        <div><b>Datos personales</b>  </div>
        <table style="width: 100%">
       <tr>
       <td style="width:200px"><font>Primer nombre:</font> </td>
       <td ><h:inputText class="input100px"></h:inputText> </td>
       <td style="width:200px"><font>Segundo nombre:</font> </td>
       <td><h:inputText class="input100px"></h:inputText></td>
       <td style="width:200px"><font>Primer apellido:</font> </td>
       <td><h:inputText class="input100px"></h:inputText></td>
        </tr>
        
        <tr>
       <td style="width:200px"><font>Segundo apellido:</font></td>
       <td><h:inputText class="input100px"></h:inputText></td>
       <td style="width:200px"><font>Sexo:</font></td>
       <td><input type="radio"/><font>Masculino</font><br />
       <input type="radio" /><font>Femenino</font> </td>
       <td><font>CURP:</font></td>
       <td><h:inputText class="input100px"></h:inputText></td>
        </tr>
        <tr>
       <td style="width:200px"><font>RFC:</font></td>
       <td><h:inputText class="input100px"></h:inputText></td>
       <td style="width:200px">Edo civil:</td>
       <td><p:selectOneMenu class="combo100" id="sociosEdocivil01" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
       <td style="width:200px">Ocupaci&oacute;n:</td>
       <td><p:selectOneMenu class="combo100" id="sociosEdocivil02" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
        </tr>
        <tr>
        <td style="width:200px"><font>Tel&eacute;fono:</font></td>
       <td><h:inputText style="width:15px; margin-right:10px"></h:inputText><h:inputText style="width:75px"></h:inputText> </td>
       <td style="width:200px"><font> Tipo de Tel&eacute;fono:</font></td>
       <td><h:inputText class="input100px"></h:inputText> </td>
       <td style="width:200px"><font>Compa&ntilde;ia tel</font></td>
       <td><p:selectOneMenu class="combo100" id="sociosEdocivil03" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
        </tr>
        <tr>
        <td><font style="width:200px">Nacionalidad:</font> </td>
       <td><p:selectOneMenu class="combo100" id="sociosNacionalidad01" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
       <td style="width:200px"><font>Estado Nac:</font> </td>
       <td><p:selectOneMenu class="combo100" id="sociosEdoNac01" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
       <td style="width:200px"><font>Lugar Nac.:</font> </td>
       <td><h:inputText class="input100px"></h:inputText> </td>
        </tr>
        <tr>
        <td><font>Correo:</font> </td>
        <td style="width:200px"><h:inputText style="width:20px"></h:inputText><font>@</font> 
         <p:selectOneMenu class="comboChico"  id="sociosCorreo01" >
            <f:selectItem itemLabel="" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
        <td style="width:200px"><font>Nombramiento:</font> </td>
        <td><h:inputText class="input100px"></h:inputText></td>
        <td> </td>
 		</tr>
        </table>
      
        
       
        </h:form>
    </body>
</html>