<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>
    
    <body>
        <h:form class="content borde" >
        <div><font class="etiquetaBorde"><b>Datos personales</b></font></div>
        <table class="table ">
       <tr>
       <td><font>Primer nombre:</font> </td>
       <td><h:inputText class="form-control estiloMayus"></h:inputText> </td>
       <td><font>Segundo nombre:</font> </td>
       <td><h:inputText class="form-control estiloMayus"></h:inputText></td>

        </tr>
        
        <tr>
       <td><font>Primer apellido:</font> </td>
       <td><h:inputText class="form-control estiloMayus"></h:inputText></td>
       <td><font>Segundo apellido:</font></td>
       <td><h:inputText class="form-control estiloMayus"></h:inputText></td>
       <td><font>Sexo:</font></td>
       <td><input type="radio"/><font>Masculino</font><br />
       <input type="radio" /><font>Femenino</font> </td>
        </tr>
        <tr>
       <td><font>RFC:</font></td>
       <td><h:inputText class="form-control estiloMayus"></h:inputText></td>
       <td>Edo civil:</td>
       <td><p:selectOneMenu class="comboSize" id="sociosEdocivil01" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
       <td>Ocupaci&oacute;n:</td>
       <td><p:selectOneMenu class="comboSize" id="sociosEdocivil02" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
        </tr>
        <tr>
        <td><font>Tel&eacute;fono:</font></td>
       <td><h:inputText class="form-control estiloMayus"></h:inputText> </td>
       <td><font> Tipo de Tel&eacute;fono:</font></td>
       <td><h:inputText class="form-control estiloMayus"></h:inputText> </td>
       <td><font>Compa&ntilde;ia tel</font></td>
       <td><p:selectOneMenu class="comboSize" id="sociosEdocivil03" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
        </tr>
        <tr>
        <td><font>Nacionalidad:</font> </td>
       <td><p:selectOneMenu class="comboSize" id="sociosNacionalidad01" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
       <td><font>Estado Nac:</font> </td>
       <td><p:selectOneMenu class="comboSize" id="sociosEdoNac01" >
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
       <td><font>Lugar Nac.:</font> </td>
       <td><h:inputText class="form-control estiloMayus"></h:inputText> </td>
        </tr>
        <tr>
        <td><font>Correo:</font> </td>
        <td><h:inputText style="width:20%; vertical-align:middle"></h:inputText><font>@</font> 
         <p:selectOneMenu  style="width: 73%!important; min-width:35%!important;vertical-align:middle"  id="sociosCorreo01" >
            <f:selectItem itemLabel="" itemValue="" />
            <f:selectItem itemLabel="01" itemValue="01" />
            <f:selectItem itemLabel="02" itemValue="02" />
            <f:selectItem itemLabel="03" itemValue="03" />
        </p:selectOneMenu></td>
        <td><font>CURP:</font> </td>
        <td><h:inputText class="form-control estiloMayus"></h:inputText></td>
        <td> </td>
 		</tr>
        </table>
        <table class="table">
        <tr>
        <td class="col-md-1"><font>Nombramiento:</font></td>
        <td class="col-md-11"><h:inputText class="form-control estiloMayus"></h:inputText></td>
        </tr>
        </table>
        
      
        
       
        </h:form>
    </body>
</html>