<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<script type="text/javascript" src="resource/js/acordionDatos.js"></script>
	<link rel="stylesheet" href="resource/css/datos.css" type="text/css" media="all" />
	
</h:head>
<body onload="#{datosGral.init()}">


<!-- <button id="myBtn" class="botonAzul">Abrir modal</button> -->
<!-- <div id="ModalMain" > -->
<!-- <div id="myModal"></div> -->
<!-- </div> -->
<script>
	  jQuery(document).ready(function() {
		  if(("#{datosGral.isExisteCliente()}" == "true")  &amp;&amp; ("#{datosGral.beanCliente.beanInformacion.personalidad}" != "1" )){
			  TipoPersonas(2);
		  }
	  });
</script>

	<div class='Acordion AcordionDatos'>
			
			<p:accordionPanel class="acordeonDatosGenerales">
				<p:tab title="">
				
				<f:facet name="title" >
               <p:graphicImage class="acordeonImageSize" value="resource/images/acordion/datosGenerales.png"/>
               <h:outputText class="LabelAcordeon01" value="Datos Generales"/>
            </f:facet>
            <h:form id="datos">
				<input type="hidden" value="#{datosGral.pantalla}" name="pantalla" id="pantalla" />
				<p:messages id="growl" showDetail="true" sticky="true" />
					<!-- <table style="float: right;"><tr><td class="tdTam" > -->
					<div class="col-md-2 col-md-offset-10 m0p0">
					<ul class="list-inline">
									<li class="list-inline-item liStyle" >
								<p:commandLink oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);"	id="telefono_datos_guardar" style="border: none; background: none;"	actionListener="#{datosGral.insertaCliente()}" update="growl">
											<h:graphicImage value="resource/images/guardar.png" class="dimensionIcon" />
										</p:commandLink>
								
								
								<img src="resource/images/cerrar.png" class="dimensionIcon"/>
								</li>
								</ul>
						</div>
								<!-- </td></tr> --> 
								<!-- </table> -->
					<table class="table tableCorrecion font10px">

						<tr>
							<td class="col-md-4"><font class="labelAzul">Tipo de Persona</font></td>
							<td class="col-md-4"><span class="labelAzul">R.F.C.:</span>
							<p:focus for="rfc" />
								</td>
							<td class="col-md-4"></td>
							
						</tr>
						<tr><td class="paddin_gral"> 
						<span class="labelAzul">
						<p:selectOneRadio value="#{datosGral.beanCliente.beanInformacion.personalidad}"
						 disabled="#{datosGral.existeCliente}" 
						 class="tipoPersonas labelAzul font10px" onclick="TipoPersonas(this.value);" id="idSelectTipoPersona" name="nameSelectTipoPersona">
						 
						<f:selectItem itemLabel="Física" itemValue="1" 
									id="tipPersonas1" />
   						 <f:selectItem itemLabel="Moral" itemValue="2"  
									name="tipoPersonas"
									id="tipPersonas2"/>
						</p:selectOneRadio>
						
						</span></td>
									<td class="paddin_gral"><p:inputText id="rfc" class="form-control estiloMayus" value="#{datosGral.beanCliente.datosGenerales.rfc}" >
									</p:inputText>
									
									</td>
									<td class="paddin_gral"><font class="labelAzul">cliente VIP</font><h:selectBooleanCheckbox id="checkVIP_Datos"  style="margin-left:10%;" class="bordoCheck" value="#{datosGral.vip}"></h:selectBooleanCheckbox> </td> </tr>
					</table>
					<div id="datosGeneralesContent">
<!-- *********************************************DATOS GENERALES INICIA********************************************************************* -->
				
		
			<table class="table tableCorrecion font10px">
				<tr class='uno_porciento'> 
					<td class="col-md-4 paddin_gral"><font class="labelAzul">Primer nombre:</font></td>
					<td class="col-md-4 paddin_gral"><font class="labelAzul">Segundo nombre:</font></td>
					<td class="col-md-4 paddin_gral"><font class="labelAzul">Primer apellido:</font></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral" ><h:inputText class="form-control estiloMayus" value="#{datosGral.beanCliente.datosGenerales.primerNombre}"/></td>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="#{datosGral.beanCliente.datosGenerales.segundoNombre}" /></td>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="#{datosGral.beanCliente.datosGenerales.primerApellido}" /></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><font class="labelAzul">Segundo apellido:</font></td>
					<td class="paddin_gral"><font class="labelAzul">Sexo:</font></td>
					<td class="paddin_gral"><font class="labelAzul">CURP:</font><span> <p:graphicImage value="resource/images/renapo.png"/></span> </td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="#{datosGral.beanCliente.datosGenerales.segundoApellido}"></h:inputText> </td>
					<td class="paddin_gral">
					
					<p:selectOneRadio value="#{datosGral.beanCliente.beanInformacion.sexo}"
						 class="tipoPersonas labelAzul font10px" onclick="TipoPersonas(this.value);">
						 <f:selectItem itemLabel="femenino" itemValue="f"  />
   						 <f:selectItem itemLabel="msculino" itemValue="h"  
									name="tipoPersonas"/>
						</p:selectOneRadio>
						</td>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="#{datosGral.beanCliente.datosGenerales.curp}" /></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><font class="labelAzul">Estado Civil:</font></td>
					<td class="paddin_gral"><font class="labelAzul">Ocupaci&oacute;n:</font></td>
					<td class="paddin_gral"><font class="labelAzul">Grado Estudios:</font></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"> <p:selectOneMenu class="comboSize"  id="datosGenerales02" value="#{datosGral.beanCliente.datosGenerales.estadoCivil}">
						<f:selectItem itemLabel=" SELECCIONE  " itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listEstadoCivil.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" ></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><p:selectOneMenu  class="comboSize" id="datosGenerales03" value="#{datosGral.beanCliente.datosGenerales.ocupacion}">
		         			<f:selectItem itemLabel=" SELECCIONE  " itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaocupaciones.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" ></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><p:selectOneMenu class="comboSize" id="datosGenerales04" value="#{datosGral.grado}">
<!-- 							<f:selectItem itemLabel="Seleccionar uno" itemValue="00" /> -->
								<f:selectItem itemLabel=" SELECCIONE  " itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaGrado.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><font class="labelAzul">Nacionalidad:</font></td>
					<td class="paddin_gral"><font class="labelAzul">Estado Nacimiento:</font></td>
					<td class="paddin_gral"><font class="labelAzul">Lugar Naciminento:</font></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><p:selectOneMenu  autoWidth="false" id="datosGenerales05" class="comboSize" value="#{datosGral.nacionalidad}">
<!-- 							<f:selectItem itemLabel="Seleccionar uno" itemValue="00" /> -->
			         		<f:selectItem itemLabel=" SELECCIONE  " itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listanacionalidad.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" ></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><p:selectOneMenu autoWidth="false" class="comboSize"  id="datosGenerales06" value="#{datosGral.estado}">
			         	<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.estado}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaestado.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" ></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="#{datosGral.beanCliente.datosGenerales.lugarNacimiento}"/></td>
				</tr>
				<tr >
					<td class="paddin_gral"><font class="labelAzul">Fecha de Nacimiento:</font> </td>
					<td class="paddin_gral"><font class="labelAzul">Correo electr&oacute;nico:</font></td>
				</tr>
				<tr>
				
					<td class="paddin_gral">
					<input type="date"  id="fechaNacDatosG" class="form-control calendar" value="#{datosGral.beanCliente.datosGenerales.fechaNacimiento}"/> </td>
					<td class="paddin_gral"><h:inputText class="treinta_porciento va_m form-control correo"  value="#{datosGral.beanCliente.datosGenerales.correoElectronico}"></h:inputText><font>@</font> 
			         <p:selectOneMenu  class="combo_correo"	 id="sociosCorreo01" value="#{datosGral.tipoCorreo}">
			         	<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.tipoCorreo}" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listaCorreo.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" ></f:selectItems>
			        </p:selectOneMenu>
			        </td>	
				</tr>
			</table>
<!-- **********************************************************DATOS GENERALES TERMINA*************************************************************** -->					
					
					</div>
					<h:panelGrid columns="2" cellpadding="10">

					</h:panelGrid>
					</h:form>
				</p:tab>
				<p:tab title="">
				<f:facet name="title">
               <p:graphicImage class="acordeonImageSize" value="resource/images/acordion/datosAdicionales.png"/>
               <h:outputText class="LabelAcordeon02" value="Datos Adicionales"/>
            </f:facet>
				<h:form id="datosAdicionales">
					<div id="datosAdicionalesContent" class="content tab3">
					
					
<!-- ******************************************************* DATOS ADICIONALES INICIA *****************************************************-->
 
        <div class="font10px labelAzul"><b>Nombre alternativo de la Persona</b>  </div>
        <br/>	
		<table align="center" class="table tableCorrecion font10px">
			<tr>
				<td><font class="labelAzul">Primer Nombre:</font></td>
				<td><font class="labelAzul">Segundo Nombre:</font></td>
				<td><font class="labelAzul">Primer Apellido:</font></td>
			</tr>
			<tr>
				<td><h:inputText class="form-control text-uppercase" placeholder="Primer Nombre" value="#{datosAdicionalesView.primerNombre}" /></td>
				<td><h:inputText class="form-control text-uppercase" placeholder="Segundo Nombre" value="#{datosAdicionalesView.segundoNombre}" /></td>
				<td><h:inputText class="form-control text-uppercase"
						placeholder="Primer Apellido" value="#{datosAdicionalesView.primerApellido}"/></td>
			</tr>
			<tr>
			<td><br/></td>
			</tr>
			<tr>
			<td><font class="labelAzul">Segundo Apellido:</font></td>
				<td><font class="labelAzul">C&oacute;nyugue</font></td>
				<td><font class="labelAzul">Hijos:</font></td>
			</tr>

			<tr><td><h:inputText class="form-control text-uppercase" placeholder="Segundo Apellido" value="#{datosAdicionalesView.seundoApellido}" /></td>
				<td><h:inputText class="search form-control text-uppercase" value="#{datosAdicionalesView.conyugue}" /></td>
				<td> <p:selectOneMenu  class="combo_correo"	 id="Datoshijos01" >
				
				
						<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.numHijos}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaHijos.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
<!-- 						<f:selectItems value=""></f:selectItems> -->
			        </p:selectOneMenu></td>
			</tr>
		</table>

		<table  class="table tableCorrecion mt3 font10px"> 
        <tr>
        <td><input type="checkbox" class="bordoCheck" /><font class="labelAzul"> Lengua indigena</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font class="labelAzul"> Redes sociales</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font class="labelAzul"> Discapacidad</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font class="labelAzul"> Uso de internet</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font class="labelAzul"> Ha obtenido un cr&eacute;dito formal</font></td>
        </tr>
        </table>
					
<!-- ******************************************************* DATOS ADICIONALES TERMINA ***************************************************** -->					
					</div>
					<h:panelGrid columns="2" cellpadding="10">
					</h:panelGrid>
					</h:form>
				</p:tab>
				<p:tab title="" >
<!-- **************************************INICIA MENU INFORMACION LABORAL ASALARIADO******************************************************* -->
				<f:facet name="title" >
               <p:graphicImage class="acordeonImageSize" value="resource/images/acordion/informacionLaboral.png"/>
               <h:outputText class="LabelAcordeon03" value="Informacion Laboral"/>
            </f:facet>
             <h:form id="infoLaboral">
					<div class="menuRadioInfoLaboral font10px labelAzul">
						Actividad de la persona <span class="labelAzul"><input type="radio"
							id="actprod1" name="actividadProductiva"
							class="actividadProductiva" onclick="ActividadProductiva(1);" />Asalariado</span>
						<input type="radio" name="actividadProductiva" id="actprod2"
							class="actividadProductiva" onclick="ActividadProductiva(2);" />Actividad
						Productiva
					</div>
					<div class="guardarInformacionL"><img src="resource/images/guardar.png" class="dimensionIcon"/></div>
					<div id="informacionGeneralContent" class="content">
<!-- **********************************************INICIA INFORMACION LABORAL ASALARIADO******************************************************* -->
				

		<div class="borde">
			<font class="etiquetaBorde"><b>Negocio</b></font>
			
			<table class="table tableCorrecion font10px">
			<tr>
			<td class="col-sm-3 paddin_gral"><font class="labelAzul"> Nombre:</font></td>
			<td class="col-sm-3 paddin_gral"><font class="labelAzul">Giro:</font></td>
			<td class="col-sm-3 paddin_gral"><font class="labelAzul">Actividad:</font></td>
			 </tr>
			 
			 <tr>
					<td class="paddin_gral"><h:inputText class="form-control text-uppercase search" ></h:inputText></td>
					<td class="paddin_gral"><p:selectOneMenu id="IL_Act_ProdGiro"
							class="comboSize" autoWidth="false" >
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.giro}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaGiro.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><p:selectOneMenu id="IL_Act_Prod0actividad" class="comboSize" autoWidth="false" >
					
								<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.actividad}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaActividad.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
					
					
						</p:selectOneMenu></td>
				</tr>
			 
			</table>
			

			<table class="table tableCorrecion mb2 font10px">
				<tr>
					<td class="col-sm-3 paddin_gral"><font class="labelAzul">Sector:</font></td>
					<td class="col-sm-3 paddin_gral"><font class="labelAzul">N&uacute;m Empleado:</font></td>
					<td class="col-sm-3 paddin_gral"><font class="labelAzul">Fecha ingreso:</font></td>
				</tr>

				<tr>
					<td class="paddin_gral"><p:selectOneMenu id="IL_Act_Prod0Sector"
							class="comboSize" autoWidth="false" >
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.sector}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaSector.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
					<td class="paddin_gral"><h:inputText class="form-control text-uppercase calendar"></h:inputText></td>

				</tr>

			</table>


		</div>

	<div class="borde mborde">
		<div >
			<b><font class="etiquetaBorde">Ubicaci&oacute;n</font></b>
		</div>
		<table class="table tableCorrecion font10px">
			<tr>
				<td class="paddin_gral"><font class="labelAzul"> Direcci&oacute;n</font></td>
				<td class="paddin_gral"><font class="labelAzul">Codigo Postal:</font></td>
			</tr>
			<tr>
				<td class="col-sm-8 paddin_gral tdDom"><h:inputText class="form-control text-uppercase inputDomicilio" ></h:inputText></td>
				<td class="col-sm-4 paddin_gral"><h:inputText class="form-control text-uppercase search"></h:inputText></td>
				
			</tr>
		</table>
		<table class="table tableCorrecion mb2 font10px">
			<tr>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Colonia:</font></td>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Localidad:</font></td>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Estado:</font></td>
			</tr>
			<tr>
				<td class="paddin_gral"><p:selectOneMenu id="IL_Act_colonia"
							class="comboDatosColonia"  >
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.colonia}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaColonias.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
				<td class="paddin_gral"><h:inputText class="form-control text-uppercase" disabled="true"></h:inputText></td>
				<td class="paddin_gral"><h:inputText class="form-control text-uppercase" disabled="true"></h:inputText></td>
			</tr>
			
			<tr>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Tel&eacute;fono:</font></td>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Tipo de Tel&eacute;fono:</font></td>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Compania telef&oacute;nica:</font></td>
			</tr>
			<tr>
				<td class="paddin_gral col-sm-4"><h:inputText class="text-uppercase form-control lada"></h:inputText>
				 <h:inputText class="text-uppercase form-control numero"></h:inputText></td>
				<td class="paddin_gral col-sm-4">
				<p:selectOneMenu id="IL_Act_tipoTel"
							class="comboSize"  >
									<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.tipoTelefono}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaTipoTel.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
				<td class="paddin_gral col-sm-4"><p:selectOneMenu id="IL_Act_comapniaTel"
							class="comboSize"  >
									<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.companiaTelefonica}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaCompaniaTel.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
			</tr>
		</table>
	</div>

<!-- 					**************************************TERMINA INFORMACION LABORAL******************************************************* -->					
					</div>
					<h:panelGrid columns="2" cellpadding="10">
					</h:panelGrid>
					</h:form>
				</p:tab>					
			</p:accordionPanel>
		</div>
		
</body>
</html>