<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>
    
    <body onload="#{datosGral.init()}" >
        <h:form class="content" >
        <div><b>Datos Establecimiento</b>  </div>
        <br/>
        <table style="width: 100%" class="table font10px">
       <tr>
        <td class="col-md-4"><font>&nbsp;Situaci&oacute;n:</font> </td>
        <td class="col-md-4"><font>&nbsp;Establecimiento:</font></td>
        <td class="col-md-4"><font>&nbsp;Inicio de Operaciones:</font></td>
        </tr>
        <tr>
        <td><p:selectOneMenu autoWidth="false"  class="comboSize text-uppercase" id="datosAdicionales01" >
           				<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.situacion}" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listaSituacion.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
        </p:selectOneMenu> </td>
        <td><p:selectOneMenu  autoWidth="false"  class="comboSize text-uppercase" id="datosAdicionales02" >
           				<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.establecimiento}" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listaEstablecimiento.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
        </p:selectOneMenu></td>
        <td><input type="date" class="calendar form-control" value=""/></td>
 		</tr>
        </table>
        <table  class="table tableCorrecion mt3 font10px"> 
        <tr>
        <td><input type="checkbox" class="bordoCheck" /><font> Lengua indigena</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font> Redes sociales</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font> Discapacidad</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font> Uso de internet</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font> Ha obtenido un cr&eacute;dito formal</font></td>
        </tr>
        </table>
      
        
       
        </h:form>
    </body>
</html>