<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<!-- 	<script type="text/javascript" src="resource/js/acordionDatos.js"></script> -->
	<link rel="stylesheet" href="resource/css/datos.css" type="text/css"
		media="all" />

</h:head>
   <h:form id="datosAdicionales01" class="content tab2_datos2" onload="#{datosGral.init()}"> 
   
        <table style="float: right;">
		<tr>
			<td class="tdTam"><img src="resource/images/guardar.png"
				class="imagen dimensionIcon" /> <img
				src="resource/images/cerrar.png" class="imagen dimensionIcon" /></td>
		</tr>
	</table>

	<table align="center" class="table tableCorrecion font10px">
		<tr>
			<td class="col-md-4 paddin_gral"><font>Primer nombre:</font></td>
			<td class="col-md-4 paddin_gral"><font>Segundo Nombre:</font></td>
			<td class="col-md-4 paddin_gral"><font>Primer apellido:</font></td>
		</tr>
		<tr>
			<td class="col-md-4 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
			<td class="col-md-4 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
			<td class="col-md-4 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
		</tr>

		<tr>
			<td class="col-md-4 paddin_gral"><font>Segundo apellido:</font></td>
			<td class="col-md-4 paddin_gral"><font>Facultad:</font></td>
			<td class="col-md-4 paddin_gral"><font>Puesto:</font></td>
		</tr>
		<tr>
			<td class="col-md-4 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
			<td class="col-md-4 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad01"
					class="comboSize">
						<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.facultad}" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listaFacultad.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
				</p:selectOneMenu></td>
			<td class="col-md-4 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad02"
					class="comboSize">
						<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.puesto}" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listaPuesto.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
				</p:selectOneMenu></td>
		</tr>
	</table>
	<div class="borde">
		<div>
			<font class="etiquetaBorde">Personalidad</font>
		</div>
		<table class="table tableCorrecion font10px">
			<tr>
				<td class="col-md-3 paddin_gral"><font>Documento:</font></td>
				<td class="col-md-3 paddin_gral"><font>Tipo Documento:</font></td>
				<td class="col-md-3 paddin_gral"><font>Dato del documento:</font></td>
				<td class="col-md-3 paddin_gral"><font>Fecha:</font></td>
			</tr>
			<tr>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad03"
						class="comboSize">
						<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.documentoPers}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaDocumentosPers.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
					</p:selectOneMenu></td>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad04"
						class="comboSize">
						<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.tipoDocumentoPers}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaTipoDocumentoPers.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
					</p:selectOneMenu></td>
				<td class="col-md-3 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
				<td class="col-md-3 paddin_gral"><input type="date"
					class="calendar form-control text-uppercase" /></td>
			</tr>

			<tr>
				<td class="col-md-3 paddin_gral"><font>Fedatario:</font></td>
				<td class="col-md-3 paddin_gral"><font>Nombre(s):</font></td>
				<td class="col-md-3 paddin_gral"><font>Primer apellido:</font></td>
				<td class="col-md-3 paddin_gral"><font>Segundo apellido:</font></td>
			</tr>
			<tr>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad05"
						class="comboSize">
						<f:selectItem itemLabel="SELECCIONE" itemValue="" />
						<f:selectItem itemLabel="01" itemValue="01" />
						<f:selectItem itemLabel="02" itemValue="02" />
						<f:selectItem itemLabel="03" itemValue="03" />
					</p:selectOneMenu></td>
				<td class="col-md-3 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
				<td class="col-md-3 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
				<td><h:inputText class="form-control text-uppercase"></h:inputText></td>
			</tr>

			<tr>
				<td class="col-md-3 paddin_gral"><font>Entidad Federativa:</font></td>
				<td class="col-md-3 paddin_gral"><font>Localidad:</font></td>
				<td class="col-md-3 paddin_gral"><font>Municipio:</font></td>
			</tr>
			<tr>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad06"
						class="comboSize">
						
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.localidad}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaLocalidades.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						
					</p:selectOneMenu></td>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad07"
						class="comboSize">
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.localidad}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaLocalidades.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
					</p:selectOneMenu></td>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad08"
						class="comboSize">
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.municipio}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaMunicipios.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
					</p:selectOneMenu></td>
			</tr>
		</table>
	</div>

	<div class="borde">
		<div>
			<font class="etiquetaBorde">Datos registrales</font>
		</div>
		<table class="table tableCorrecion font10px">

			<tr>
				<td class="col-md-3 paddin_gral"><font>Folio Mercantil:</font></td>
				<td class="col-md-3 paddin_gral"><font>Registro:</font></td>
				<td class="col-md-3 paddin_gral"><font>Tipo de documento:</font></td>
				<td class="col-md-3 paddin_gral"><font>Dato del Documento:</font></td>
			</tr>
			<tr>
				<td class="col-md-3 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
				<td class="col-md-3 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad09"
						class="comboSize">
						<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.tipoDocumentoPers}" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listaTipoDocumentoPers.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
					</p:selectOneMenu></td>
				<td class="col-md-3 paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText>
				</td>
			</tr>

			<tr>
				<td class="col-md-3 paddin_gral"><font>Fecha:</font></td>
				<td class="col-md-3 paddin_gral"><font>Entidad Federativa:</font></td>
				<td class="col-md-3 paddin_gral"><font>Localidad:</font></td>
				<td class="col-md-3 paddin_gral"><font>Municipio:</font></td>
			</tr>
			<tr>
				<td class="col-md-3 paddin_gral"><input type="date"
					class="calendar form-control text-uppercase" /></td>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad10"
						class="comboSize">
						<f:selectItem itemLabel="Select One" itemValue="" />
						<f:selectItem itemLabel="01" itemValue="01" />
						<f:selectItem itemLabel="02" itemValue="02" />
						<f:selectItem itemLabel="03" itemValue="03" />
					</p:selectOneMenu></td>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad11"
						class="comboSize">
						<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.localidad}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaLocalidades.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						
					</p:selectOneMenu></td>
				<td class="col-md-3 paddin_gral"><p:selectOneMenu id="CmbdatosPersonalidad12"
						class="comboSize">
					<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.municipio}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaMunicipios.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
					</p:selectOneMenu></td>
			</tr>
		</table>
	</div>
   
   
   
   
   
   </h:form>



	

</html>