<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>

</h:head>

<body>

	<h:form class="content">

		<div>
			<b>Negocio</b>

			<table class="table">
				<tr>
					<td><font> Nombre:</font></td>
					<td><font>Giro:</font></td>
					<td><font>Actividad:</font></td>
					<td><font>Sector:</font></td>
				</tr>

				<tr>
					<td><h:inputText class="input200px text-uppercase"></h:inputText></td>
					<td><p:selectOneMenu id="combCentroTrabajo01"
							class="comboSize">
							<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItem itemLabel="01" itemValue="01" />
							<f:selectItem itemLabel="02" itemValue="02" />
							<f:selectItem itemLabel="03" itemValue="03" />
						</p:selectOneMenu></td>
					<td><h:inputText class="input200px text-uppercase"></h:inputText></td>
					<td><h:inputText class="input200px text-uppercase"></h:inputText></td>

				</tr>


				<tr>
					<td>Numero de empleado:</td>
					<td>Operacion:</td>
					<td>Ingreso Anual:</td>
					<td>Ingreso Mensual:</td>
				</tr>

				<tr>
					<td><h:inputText class="input200px text-uppercase"></h:inputText></td>
					<td><h:inputText class="input200px text-uppercase"></h:inputText></td>
					<td><h:inputText class="input200px text-uppercase"></h:inputText></td>
					<td><h:inputText class="input200px text-uppercase"></h:inputText></td>

				</tr>

			</table>


		</div>


		<div>
			<b><font>Ubicaci&oacute;n</font></b>
		</div>
		<table class="table">
			<tr>
				<td>Direccion</td>
			</tr>
			<tr>
				<td><h:inputText class="input490px text-uppercase"></h:inputText></td>
			</tr>
		</table>
		<table style="width: 650px" class="table">
			<tr>
				<td><font>Codigo Postal:</font></td>
				<td><font>Colonia:</font></td>
				<td><font>Localidad:</font></td>
			</tr>
			<tr>
				<td><h:inputText class="input200px text-uppercase"></h:inputText></td>
				<td><p:selectOneMenu class="comboSize" id="datosCentroT01">
						<f:selectItem itemLabel="Select One" itemValue="" />
						<f:selectItem itemLabel="01" itemValue="01" />
						<f:selectItem itemLabel="02" itemValue="02" />
						<f:selectItem itemLabel="03" itemValue="03" />
					</p:selectOneMenu></td>
				<td><p:selectOneMenu class="comboSize" id="datosCentroT02">
						<f:selectItem itemLabel="Select One" itemValue="" />
						<f:selectItem itemLabel="01" itemValue="01" />
						<f:selectItem itemLabel="02" itemValue="02" />
						<f:selectItem itemLabel="03" itemValue="03" />
					</p:selectOneMenu></td>
			</tr>

			<tr>
				<td><font>Municipio:</font></td>
				<td><font> Estado:</font></td>
				<td><font>Telefono:</font></td>
			</tr>
			<tr>
				<td><p:selectOneMenu class="comboSize" id="datosCentroT03">
						<f:selectItem itemLabel="Select One" itemValue="" />
						<f:selectItem itemLabel="01" itemValue="01" />
						<f:selectItem itemLabel="02" itemValue="02" />
						<f:selectItem itemLabel="03" itemValue="03" />
					</p:selectOneMenu></td>
				<td><p:selectOneMenu class="comboSize" id="datosCentroT04">
						<f:selectItem itemLabel="Select One" itemValue="" />
						<f:selectItem itemLabel="01" itemValue="01" />
						<f:selectItem itemLabel="02" itemValue="02" />
						<f:selectItem itemLabel="03" itemValue="03" />
					</p:selectOneMenu></td>
				<td><h:inputText class="input200px text-uppercase"></h:inputText></td>
			</tr>
		</table>
		<div>
			<font>Datos Establecimiento</font> <span> <input
				type="checkbox" />Propio
			</span>

			<table style="width: 650px" class="table">
				<tr>
					<td><font> Situacion</font></td>
					<td><font>Establecimiento</font></td>
					<td><font>Puesto</font></td>
				</tr>
				<tr>
					<td><p:selectOneMenu class="comboSize" id="datosCentroT05">
							<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItem itemLabel="01" itemValue="01" />
							<f:selectItem itemLabel="02" itemValue="02" />
							<f:selectItem itemLabel="03" itemValue="03" />
						</p:selectOneMenu></td>
					<td><p:selectOneMenu class="comboSize" id="datosCentroT06">
							<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItem itemLabel="01" itemValue="01" />
							<f:selectItem itemLabel="02" itemValue="02" />
							<f:selectItem itemLabel="03" itemValue="03" />
						</p:selectOneMenu></td>
					<td><p:selectOneMenu class="comboSize" id="datosCentroT07">
							<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItem itemLabel="01" itemValue="01" />
							<f:selectItem itemLabel="02" itemValue="02" />
							<f:selectItem itemLabel="03" itemValue="03" />
						</p:selectOneMenu></td>
				</tr>
			</table>


		</div>

	</h:form>
</body>
</html>