<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head> 
	<link rel="stylesheet" href="resource/css/datos.css" type="text/css" media="all" />
    </h:head>
    
    <body onload="#{datosGral.init()}">
    <h:form class="contentPM" >
        <div class='AcordionPM'>
		<p:growl id="datosgeneralesPM" showDetail="true" />
		
		<table align="center" class=" tableCorrecion table mt3 font10px">
        <tr><td><font>Empresa:</font> </td>
        <td><font>Giro:</font> </td>
        <td><font>Actividad:</font> </td>
        </tr>
        <tr><td><h:inputText class="form-control text-uppercase search" value="#{datosGenralesPMView.nombre}"/> </td>
        <td><p:selectOneMenu  id="datosGeneralesPM00" autoWidth="false" style="width:100%; min-width:100%!important; " >
            <f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.giro}" noSelectionOption="true" />
			<f:selectItems value="#{datosGral.listaGiro.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
        </p:selectOneMenu></td>
        <td><h:inputText class="form-control text-uppercase" disabled="true"/> </td>
 		</tr>
 		<tr><td><font>Sector:</font></td>
 		<td><font>Tipo Sociedad:</font> </td>
 		</tr>
        <tr>
        <td><p:selectOneMenu  id="datosGeneralesPM01" autoWidth="false" class="comboSelector">
           <f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.sector}" noSelectionOption="true" />
		   <f:selectItems value="#{datosGral.listaSector.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
        </p:selectOneMenu></td>
        <td><p:selectOneMenu id="datosGeneralesPM02" autoWidth="false" style="width:100%; min-width:100%!important; ">
           <f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.tipoSociedad}" noSelectionOption="true" />
			<f:selectItems value="#{datosGral.listaSociedad.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
        </p:selectOneMenu></td>
        </tr>
        </table>
	</div>
        <!-- ******************************************* -->   
    
        
       
        </h:form>
    </body>
</html>