<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>
    
    <body onload="#{datosAdicionalesView.init()}">
    		<table style="float: right;"><tr><td class="tdTam">
								<img src="resource/images/guardar.png" class="dimensionIcon"/>
								<img src="resource/images/cerrar.png" class="dimensionIcon"/></td></tr> </table>
    		
        <h:form class="content" >
        <div><b>Nombre alternativo de la Persona</b>  </div>
        <br/>	
		<table align="center" class="table tableCorrecion">
			<tr>
				<td><font>Primer Nombre:</font></td>
				<td><font>Segundo Nombre:</font></td>
				<td><font>Primer Apellido:</font></td>
			</tr>
			<tr>
				<td><h:inputText class="form-control text-uppercase" placeholder="Primer Nombre" value="#{datosAdicionalesView.primerNombre}" /></td>
				<td><h:inputText class="form-control text-uppercase" placeholder="Segundo Nombre" value="#{datosAdicionalesView.segundoNombre}" /></td>
				<td><h:inputText class="form-control text-uppercase"
						placeholder="Primer Apellido" value="#{datosAdicionalesView.primerApellido}"/></td>
			</tr>
			<tr>
			<td><br/></td>
			</tr>
			<tr>
			<td><font>Segundo Apellido:</font></td>
				<td><font>C&oacute;nyugue</font></td>
				<td><font>Hijos:</font></td>
			</tr>

			<tr><td><h:inputText class="form-control text-uppercase" placeholder="Segundo Apellido" value="#{datosAdicionalesView.seundoApellido}" /></td>
				<td><h:inputText class="search form-control text-uppercase" value="#{datosAdicionalesView.conyugue}" /></td>
				<td><h:inputText class="text-uppercase" style="width:45px" value="#{datosAdicionalesView.numHijos}"/></td>
			</tr>
		</table>

		<table  class="table tableCorrecion"> 
        <tr>
        <td><input type="checkbox" class="bordoCheck" /><font> Lengua indigena</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font> Redes sociales</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font> Discapacidad</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font> Uso de internet</font></td>
        <td><input type="checkbox" class="bordoCheck"/><font> Ha obtenido un cr&eacute;dito formal</font></td>
        </tr>
        </table>
        </h:form>
    </body>
</html>