<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
</h:head>

<body onload="#{datosGrlsView.init()}">
	<h:form class="content">
		
			<table class="table tableCorrecion">
				<tr class='uno_porciento'> 
					<td class="col-md-4 paddin_gral"><font>Primer nombre:</font></td>
					<td class="col-md-4 paddin_gral"><font>Segundo nombre:</font></td>
					<td class="col-md-4 paddin_gral"><font>Primer apellido:</font></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral" ><h:inputText class="form-control estiloMayus" value="#{datosGrlsView.primerNombre}"/></td>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="#{datosGrlsView.segundoNombre}" /></td>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="#{datosGrlsView.primerApellido}" /></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><font>Segundo apellido:</font></td>
					<td class="paddin_gral"><font>Sexo:</font></td>
					<td class="paddin_gral"><font>CURP:</font><span> <p:graphicImage value="resource/images/renapo.png"/></span> </td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="#{datosGrlsView.segundoApellido}"></h:inputText> </td>
					<td class="paddin_gral"><input value="femenino" type="radio" /><span>Femenino</span> <br /> <input type="radio" value="msculino" /><span>Masculino</span>
						</td>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" value="#{datosGrlsView.curp}" /></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><font>Estado Civil:</font></td>
					<td class="paddin_gral"><font>Ocupaci&oacute;n:</font></td>
					<td class="paddin_gral"><font>Grado Estudios:</font></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"> <p:selectOneMenu class="comboSize"  id="datosGenerales02">
<!-- 							<f:selectItem itemLabel="Seleccionar uno" itemValue="00" /> -->
						<f:selectItems value="#{datosGrlsView.edoCivil}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><p:selectOneMenu  class="comboSize" id="datosGenerales03">
<!-- 							<f:selectItem itemLabel="Seleccionar uno" itemValue="00" /> -->
							<f:selectItems value="#{datosGrlsView.ocupa}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><p:selectOneMenu class="comboSize" id="datosGenerales04">
<!-- 							<f:selectItem itemLabel="Seleccionar uno" itemValue="00" /> -->
							<f:selectItems value="#{datosGrlsView.gdoEstudios}"></f:selectItems>
						</p:selectOneMenu></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><font>Nacionalidad:</font></td>
					<td class="paddin_gral"><font>Estado Nacimiento:</font></td>
					<td class="paddin_gral"><font>Lugar Naciminento:</font></td>
				</tr>
				<tr class='uno_porciento'>
					<td class="paddin_gral"><p:selectOneMenu  autoWidth="false" id="datosGenerales05" class="comboSize">
<!-- 							<f:selectItem itemLabel="Seleccionar uno" itemValue="00" /> -->
							<f:selectItems value="#{datosGrlsView.naciona}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><p:selectOneMenu autoWidth="false" class="comboSize"  id="datosGenerales06">
<!-- 							<f:selectItem itemLabel="Seleccionar uno" itemValue="00" /> -->
							<f:selectItems value="#{datosGrlsView.edoNacimi}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><h:inputText class="form-control estiloMayus" /></td>
				</tr>
				<tr >
					<td class="paddin_gral"><font>Fecha de Nacimiento:</font> </td>
					<td class="paddin_gral"><font>Correo electr&oacute;nico:</font></td>
				</tr>
				<tr>
				
					<td class="paddin_gral"><input type="date"  id="fechaNacDatosG" class="form-control calendar" value="#{datosGrlsView.fechaNacimiento}"/> </td>
					<td class="paddin_gral"><h:inputText class="treinta_porciento va_m"  value="#{datosGrlsView.correoElectronico}"></h:inputText><font>@</font> 
			         <p:selectOneMenu  class="combo_correo"	 id="sociosCorreo01" >
						<f:selectItems value="#{datosGrlsView.domCorreo}"></f:selectItems>
			        </p:selectOneMenu>
			        </td>	
				</tr>
			</table>
	</h:form>
</body>
</html> 