<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	    <link rel="stylesheet" href="resource/css/template_personas.css" type="text/css" media="all" />
	    <link rel="stylesheet" href="resource/css/datos.css" type="text/css" media="all" />
	    
</h:head>

<body onload="#{datosGral.init()}">

				<h:form class="content">

		<div class="borde">
			<font class="etiquetaBorde"><b>Negocio</b></font>
			
			<table class="table tableCorrecion font10px">
			<tr>
			<td class="col-sm-3 paddin_gral"><font class="labelAzul"> Nombre:</font></td>
			<td class="col-sm-3 paddin_gral"><font class="labelAzul">Giro:</font></td>
			<td class="col-sm-3 paddin_gral"><font class="labelAzul">Actividad:</font></td>
			 </tr>
			 
			 <tr>
					<td class="paddin_gral"><h:inputText class="form-control text-uppercase search" ></h:inputText></td>
					<td class="paddin_gral"><p:selectOneMenu id="IL_Act_ProdGiro"
							class="comboSize" autoWidth="false" >
							  <f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.giro}" noSelectionOption="true" />
								<f:selectItems value="#{datosGral.listaGiro.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><p:selectOneMenu id="IL_Act_Prod0actividad"
							class="comboSize" autoWidth="false" >
						  <f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.actividad}" noSelectionOption="true" />
		   <f:selectItems value="#{datosGral.listaActividad.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
				</tr>
			 
			</table>
			

			<table class="table tableCorrecion mb2 font10px">
				<tr>
					<td class="col-sm-3 paddin_gral"><font class="labelAzul">Sector:</font></td>
					<td class="col-sm-3 paddin_gral"><font class="labelAzul">N&uacute;m Empleado:</font></td>
					<td class="col-sm-3 paddin_gral"><font class="labelAzul">Fecha ingreso:</font></td>
				</tr>

				<tr>
					<td class="paddin_gral"><p:selectOneMenu id="IL_Act_Prod0Sector"
							class="comboSize" autoWidth="false" >
						  <f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.sector}" noSelectionOption="true" />
		   <f:selectItems value="#{datosGral.listaSector.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="paddin_gral"><h:inputText class="form-control text-uppercase"></h:inputText></td>
					<td class="paddin_gral"><h:inputText class="form-control text-uppercase calendar"></h:inputText></td>

				</tr>

			</table>


		</div>

	<div class="borde mborde">
		<div >
			<b><font class="etiquetaBorde">Ubicaci&oacute;n</font></b>
		</div>
		<table class="table tableCorrecion font10px">
			<tr>
				<td class="paddin_gral"><font class="labelAzul"> Direcci&oacute;n</font></td>
				<td class="paddin_gral"><font class="labelAzul">Codigo Postal:</font></td>
			</tr>
			<tr>
				<td class="col-sm-8 paddin_gral tdDom"><h:inputText class="form-control text-uppercase inputDomicilio" ></h:inputText></td>
				<td class="col-sm-4 paddin_gral"><h:inputText class="form-control text-uppercase search"></h:inputText></td>
				
			</tr>
		</table>
		<table class="table tableCorrecion mb2 font10px">
			<tr>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Colonia:</font></td>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Localidad:</font></td>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Estado:</font></td>
			</tr>
			<tr>
				<td class="paddin_gral"><p:selectOneMenu id="IL_Act_colonia"
							class="comboDatosColonia"  >
						  <f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.colonia}" noSelectionOption="true" />
		   <f:selectItems value="#{datosGral.listaColonias.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
				<td class="paddin_gral"><h:inputText class="form-control text-uppercase" disabled="true"></h:inputText></td>
				<td class="paddin_gral"><h:inputText class="form-control text-uppercase" disabled="true"></h:inputText></td>
			</tr>
			
			<tr>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Tel&eacute;fono:</font></td>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Tipo de Tel&eacute;fono:</font></td>
				<td class="paddin_gral col-sm-4"><font class="labelAzul">Compania telef&oacute;nica:</font></td>
			</tr>
			<tr>
				<td class="paddin_gral col-sm-4"><h:inputText class="text-uppercase form-control lada"></h:inputText>
				 <h:inputText class="text-uppercase form-control numero"></h:inputText></td>
				<td class="paddin_gral col-sm-4"><p:selectOneMenu id="IL_Act_tipoTel"
							class="comboSize"  >
						  <f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.tipoTelefono}" noSelectionOption="true" />
		   				<f:selectItems value="#{datosGral.listaTipoTel.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
				<td class="paddin_gral col-sm-4"><p:selectOneMenu id="IL_Act_comapniaTel"
							class="comboSize"  >
						  <f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.companiaTelefonica}" noSelectionOption="true" />
		   <f:selectItems value="#{datosGral.listaCompaniaTel.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
			</tr>
		</table>
	</div>
	</h:form>
</body>
</html>