<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


<body>

	<h:form class="content">

		<div class="borde mborde">
			<font class="etiquetaBorde"><b>Negocio</b></font>
			
			<table class="table tableCorrecion font10px">
			<tr>
			<td class="col-md-3 paddin_gral"><font> Nombre:</font></td>
			<td class="col-md-3 paddin_gral"><font>Giro:</font></td>
			<td class="col-md-3 paddin_gral"><font>Actividad:</font></td>
			 </tr>
			 
			 <tr>
					<td class="col-md-3 paddin_gral"><h:inputText  class="form-control text-uppercase"></h:inputText></td>
					<td class="col-md-3 paddin_gral"> <p:selectOneMenu id="IL_Act_Prod01" autoWidth="false" class="comboSize" >
							<f:selectItem itemLabel="SELECCIONE" itemValue="#{datosGral.giro}" />
							<f:selectItems value="#{datosGral.listaGiro.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="col-md-3 paddin_gral"><p:selectOneMenu id="IL_Act_Prod02" autoWidth="false" class="comboSize" >
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.actividad}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaActividad.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
				</tr>
			 
			</table>
			

			<table class="table tableCorrecion font10px">
				<tr>
					<td class="col-md-3 paddin_gral"><font>Correo</font></td>
					<td class="col-md-3 paddin_gral"><font>Sector:</font></td>
					<td class="col-md-3 paddin_gral"><font>Operacion:</font></td>
				</tr>

				<tr>
					<td class="col-md-3 paddin_gral"><h:inputText class="treinta_porciento va_m form-control correo"  value="#{datosGrlsView.correoElectronico}"></h:inputText><font>@</font> 
			         <p:selectOneMenu  class="combo_correo"	 id="sociosCorreo01" >
						<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.tipoCorreo}" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listaCorreo.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" ></f:selectItems>
						
			        </p:selectOneMenu>
			        </td>
					<td class="col-md-3 paddin_gral"><p:selectOneMenu id="IL_Act_Prod04" autoWidth="false" class="comboSize" >
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.sector}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaSector.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
					<td class="col-md-3 paddin_gral"><p:selectOneMenu id="IL_Act_Prod05" autoWidth="false" class="comboSize" >
							<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItem itemLabel="01" itemValue="01" />
							<f:selectItem itemLabel="02" itemValue="02" />
							<f:selectItem itemLabel="03" itemValue="03" />
						</p:selectOneMenu></td>
				</tr>
				
				<tr>
					<td class="col-md-3 paddin_gral"><font>Telefono:</font></td>
					<td class="col-md-3 paddin_gral"><font>Tipo de Tel&eacute;fono:</font></td>
					<td class="col-md-3 paddin_gral"><font>Compa&ntilde;ia telef&oacute;nica:</font></td>
				</tr>

				<tr>
					<td class="col-md-3 paddin_gral"><h:inputText class="text-uppercase  form-control inputlada"  ></h:inputText> <h:inputText class="text-uppercase form-control numero2" ></h:inputText></td>
					<td class="col-md-3 paddin_gral"><p:selectOneMenu id="IL_Act_Prod10" autoWidth="false" class="comboSize" >
								<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.tipoTelefono}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaTipoTel.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
						
					<td class="col-md-3 paddin_gral"><p:selectOneMenu id="IL_Act_Prod06" autoWidth="false" class="comboSize" >
								<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.companiaTelefonica}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaCompaniaTel.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>

				</tr>

			</table>


		</div>


		<div class="borde mborde">
			<b><font class="etiquetaBorde">Ubicaci&oacute;n</font></b>
		
		<table class="table tableCorrecion font10px">
			<tr>
				<td colspan="3" class="col-sm-8 paddin_gral"><font>Direcci&oacute;n</font></td>
				<td colspan="1" class="col-sm-4 paddin_gral"><font>Codigo Postal:</font></td>
			</tr>
			<tr>
				<td colspan="3" class="col-sm-9 paddin_gral"><h:inputText class="form-control text-uppercase wt90" ></h:inputText></td>
				<td colspan="1" class="col-sm-4 paddin_gral"><h:inputText  class="form-control buscarImage text-uppercase"></h:inputText></td>
				
			</tr>
		</table>
		<table class="table tableCorrecion font10px">
			<tr>
				
				<td  class="paddin_gral col-sm-2"><font>Colonia:</font></td>
				<td  class="paddin_gral col-sm-2"><font>Localidad:</font></td>
				<td  class="paddin_gral col-sm-2"><font>Estado:</font></td>
				<td  class="paddin_gral col-sm-2"><font>Municipio:</font></td>
			</tr>
			<tr>
				<td  class="paddin_gral col-sm-2"><p:selectOneMenu id="IL_Act_Prod07" autoWidth="false" class="comboSize" >
					<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.colonia}" noSelectionOption="true" />
							<f:selectItems value="#{datosGral.listaColonias.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
					</p:selectOneMenu></td>
					<td  class="paddin_gral col-sm-2"><h:inputText class="form-control text-uppercase" disabled="true"></h:inputText></td>
					<td  class="paddin_gral col-sm-2"><h:inputText class="form-control text-uppercase" disabled="true"></h:inputText></td>
					<td  class="paddin_gral col-sm-2"><h:inputText class="form-control text-uppercase" disabled="true"></h:inputText></td>
					

			</tr>

		</table>
		</div>
		<div class="borde mborde">
			<b><font class="etiquetaBorde">Datos Establecimiento</font></b>

			<table class="table tableCorrecion font10px">
				<tr>
					<td  class="paddin_gral"><font> Situacion</font></td>
					<td  class="paddin_gral"><font>Establecimiento</font></td>
					<td  class="paddin_gral"><font>Fecha de inicio de operaciones:</font></td>
				</tr>
				<tr>
					<td  class="paddin_gral col-sm-3"><p:selectOneMenu autoWidth="false" class="comboSize"  id="datosCentroT08">
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.situacion}" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listaSituacion.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
					<td  class="paddin_gral col-sm-3"><p:selectOneMenu autoWidth="false" class="comboSize"  id="datosCentroT09">
							<f:selectItem itemLabel=" SELECCIONE  " itemValue="#{datosGral.establecimiento}" noSelectionOption="true" />
						<f:selectItems value="#{datosGral.listaEstablecimiento.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"></f:selectItems>
						</p:selectOneMenu></td>
					<td  class="paddin_gral col-sm-3"><input type="date"  id="fechaNacInfoLaboralAct" class="form-control calendar" value=""/></td>
				</tr>
			</table>
		</div>

	</h:form>
</body>
</html>