<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
</h:head>

<body>
	<h:form>
		<div>
			<table align="center" class="table">
				<tr>
					<td><h:inputText class="text-uppercase" placeholder="nombre" /></td>
				</tr>
				<tr>
					<td><h:inputText class="text-uppercase" placeholder="apellido paterno" /></td>
				</tr>
				<tr>
					<td><h:inputText class="text-uppercase" placeholder="apellido materno" /></td>
				</tr>
				<tr>
					<td><h:inputText class="text-uppercase" placeholder="direccion" /></td>
				</tr>
			</table>
		</div>
	</h:form>
</body>
</html>