<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<!-- 	<script type="text/javascript" src="resource/js/acordionDatos.js"></script> -->
</h:head>
<body onload="#{posicionGlobal.init()}">
	<h:form>
	<input type="hidden" value="#{posicionGlobal.pantalla}" name="pantalla" id="pantalla" />
	<font id="PosicionGlobalTitulo" class="text_azul">POSICI&Oacute;N GLOBAL</font>
		<div class='Acordion AcordionPosicionGobal'>
			<p:growl id="msgs1" showDetail="true" />
			<p:accordionPanel id="creditos">
				<p:tab title="cr&eacute;ditos">

					<div id="creditosContent">

						<p:dataTable var="cred" value="#{posicionGlobal.listaCreditos}" rows="5"
										paginator="true" paginatorTemplate=" {PreviousPageLink} {PageLinks} {NextPageLink}"
										selectionMode="single"	 rowKey="#{cred.idCred}" selection="#{posicionGlobal.creditos}" 
										 emptyMessage="#{posicionGlobal.mensaje}">
						<p:ajax event="rowSelect" listener="#{posicionGlobal.onRowSelect()}"/>
										 
							<p:column headerText="" class="center" style="width:5%">
								<f:facet name="header">
									<h:graphicImage value="resource/images/flecha.png"
										class="img_tablas" />
								</f:facet>
								<p:graphicImage value="resource/images/flecha.png"
									class="img_tablas">
								</p:graphicImage>
							</p:column>
							<p:column headerText="Estatus" class="center">
								<h:outputText value="#{cred.estatus}" />
							</p:column>

							<p:column headerText="Producuto" class="center">
								<h:outputText value="#{cred.producto}" />
							</p:column>

							<p:column headerText="Cr&eacute;dito" class="center">
								<h:outputText value="#{cred.credito}" />
							</p:column>

							<p:column headerText="Saldo Insoluto" class="center">
								<h:outputText value="#{cred.saldoInsoluto}" />
							</p:column>
							<p:column headerText="Calificación" class="center">
							<h:outputText value="#{cred.calif}" />
							</p:column>
							<p:column headerText="Dias Vencidos" class="center">
							<h:outputText value="#{cred.diasVencidos}" />
							</p:column>

							<p:column headerText="Avance" class="center">
							<h:outputText value="#{cred.avance}" />
							</p:column>

							<p:column headerText="Disposici&oacute;n" class="center">
							<h:outputText value="#{cred.disposicion}" />
							</p:column>
						</p:dataTable>
						
					</div>
				</p:tab>
				<p:tab title="Ahorro">
					<div id="AhorroContent">
						<p:dataTable var="ahorro" value="#{posicionGlobal.listaAhorro}" rows="5"
										paginator="true" paginatorTemplate=" {PreviousPageLink} {PageLinks} {NextPageLink}" 
										emptyMessage="#{posicionGlobal.mensaje}" selectionMode="single"	 rowKey="1" >
							<p:column headerText="" class="center" style="width:5%">
								<f:facet name="header">
									<h:graphicImage value="resource/images/flecha.png"
										class="img_tablas" />
								</f:facet>
								<p:graphicImage value="resource/images/flecha.png"
									class="img_tablas">
									<!-- 						<f:param name="pid" value="resource/images/flecha.png" /> -->
								</p:graphicImage>
							</p:column>
							<p:column headerText="Estatus" class="center">
							<h:outputText value="#{ahorro.estatus}" />
							</p:column>

							<p:column headerText="Tipo Cuenta" class="center">
							<h:outputText value="#{ahorro.tipoCuenta}" />
							</p:column>

							<p:column headerText="Cuenta" class="center">
								<h:outputText value="#{ahorro.cuenta}" />
							</p:column>

							<p:column headerText="Referencia" class="center">
								<h:outputText value="#{ahorro.referencia}" />
							</p:column>

							<p:column headerText="Saldo disponible" class="center">
								<h:outputText value="#{ahorro.saldoDisponible}" />
							</p:column>

							<p:column headerText="Saldo Total" class="center">
								<h:outputText value="#{ahorro.saldoTotal}" />
							</p:column>

						</p:dataTable>


					</div>

				</p:tab>
				<p:tab title="Inversiones">
					<div></div>
					<div id="InversionesContent">
						<p:dataTable var="inversion" value="#{posicionGlobal.listaInversion}" rows="5"
										paginator="true" paginatorTemplate=" {PreviousPageLink} {PageLinks} {NextPageLink}" 
										emptyMessage="#{posicionGlobal.mensaje}" selectionMode="single"	 rowKey="1">
							<p:column headerText="" class="center" style="width:5%">
								<f:facet name="header">
									<h:graphicImage value="resource/images/flecha.png"
										class="img_tablas" />
								</f:facet>
								<p:graphicImage value="resource/images/flecha.png"
									class="img_tablas">
									<!-- 						<f:param name="pid" value="resource/images/flecha.png" /> -->
								</p:graphicImage>
							</p:column>
							<p:column headerText="Cuenta" class="center">
								<h:outputText value="#{inversion.cuenta}" />
							</p:column>

							<p:column headerText="Monto Invertido" class="center">
								<h:outputText value="#{inversion.montoInvertido}" />
							</p:column>

							<p:column headerText="Fecha Inversión" class="center">
								<h:outputText value="#{inversion.fechaInversion}" />
							</p:column>

							<p:column headerText="Modalidad" class="center">
								<h:outputText value="#{inversion.modalida}" />
							</p:column>

							<p:column headerText="Plazo/Dias" class="center">
								<h:outputText value="#{inversion.plazo}" />
							</p:column>

							<p:column headerText="Vencimiento" class="center">
								<h:outputText value="#{inversion.fechaVencimiento}" />
							</p:column>

						</p:dataTable>
						
					</div>
				</p:tab>
				<p:tab title="Seguros">
					<div id="SegurosContent">
						<p:dataTable var="seguros" value="#{posicionGlobal.listaSeguros}" rows="5"
										paginator="true" paginatorTemplate=" {PreviousPageLink} {PageLinks} {NextPageLink}" 
										emptyMessage="#{posicionGlobal.mensaje}" selectionMode="single"	 rowKey="1"> 
							<p:column headerText="" class="center" style="width:5%">
								<f:facet name="header">
									<h:graphicImage value="resource/images/flecha.png"
										class="img_tablas" />
								</f:facet>
								<p:graphicImage value="resource/images/flecha.png"
									class="img_tablas">
									<!-- 						<f:param name="pid" value="resource/images/flecha.png" /> -->
								</p:graphicImage>
							</p:column>
							<p:column headerText="Estatus" class="center">
								<h:outputText value="#{seguros.estatus}" />
							</p:column>
							<p:column headerText="Producto" class="center">
								<h:outputText value="#{seguros.producto}" />
							</p:column>

							<p:column headerText="Seguro" class="center">
								<h:outputText value="#{seguros.poiza}" />
							</p:column>

							<p:column headerText="Suma Asegurada" class="center">
								<h:outputText value="#{seguros.suma}" />
							</p:column>

							<p:column headerText="Vigencia" class="center">
								<h:outputText value="#{seguros.fechaVig}" />
							</p:column>

						</p:dataTable>

					</div>

				</p:tab>
			</p:accordionPanel>
		</div>
	</h:form>
</body>
</html>