
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
		<title>Personas</title>
		<link rel="stylesheet" href="resource/css/bootstrap.min.css"></link>
		<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<script	src="resource/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css"	href="resource/css/site-style.css"/>
	</h:head>
<h:body>
	<header>
		<div class="header-data-user">
			<div class="user-and-group">
				<ul class="list-user-group">
					<li><strong>Usuario:</strong> yaromero</li>
					<li><strong>Grupo:</strong> Administrador de Sistemas</li>
				</ul>


			</div>



		</div>
		<div class="page-title">
			<h1>Personas - Alta de Persona</h1>
		</div>

	</header>
	<section>
		<div id="wrapper">

			<!-- Sidebar -->
			<aside id="sidebar-wrapper">
				<ul class="sidebar-nav">

					<li><a href="#">Datos</a></li>
					<li><a href="#">Domicilio</a></li>
					<li><a href="#">Tel&eacute;fonos</a></li>
					<li><a href="#">Identificaciones</a></li>
					<li><a href="#">Consultas Crediticias</a></li>
					<li><a href="#"> Expediente</a></li>
					<li><a href="#">Posici&oacute;n Global</a></li>
					<li><a href="#">Autorizaciones </a></li>
				</ul>
			</aside>
			<!-- /#sidebar-wrapper -->

			<!-- Page Content -->
			<section id="page-content-wrapper">
				<div class="container-fluid">

					<div class="row">
						<div class="col-lg-12">
							<h1>Titulito</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation
								ullamco laboris nisi ut aliquip ex ea commodo.</p>



							<a href="#menu-toggle" class="btn btn-circle btn-default"
								id="menu-toggle"><i class="glyphicon glyphicon-chevron-left"></i></a>
						</div>
					</div>
				</div>
			</section>
			<!-- /#page-content-wrapper -->

		</div>

	</section>
	<footer>
		<div class="message text-center text-danger">
			<span>MENSAJE AL USUARIO</span>
		</div>
		<div class="access-key text-center text-info">
			<span>CTRL + C , CTRL + V , CTRL + A , CTRL + N </span>
		</div>

	</footer>





	<!-- /#wrapper -->

	<!-- jQuery -->
	<!--     <script src="resource/js/jquery.js"></script> -->

	<!-- Bootstrap Core JavaScript -->
	<script src="resource/js/bootstrap.min.js"></script>

	<!-- Menu Collapse Script -->
	<script>
    /*Menu-toggle*/
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>

</h:body>
</html>
