<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
	<title>.::Proyecto cero::.</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css"	href="resource/css/site-style.css"> </link>
	<script type="text/javascript" src="resource/js/keycode.js"></script>
	<link rel="stylesheet" type="text/css"	href="resource/css/template_personas.css"> </link>
	<link rel="stylesheet" type="text/css"	href="resource/css/barra.css"> </link>
	<script type="text/javascript" src="resource/js/index_personas.js"></script>
	</h:head>
<h:body onload="#{template.init()}">

<input type="checkbox" id="toggle"/>
<div id="wrap">
	<label for="toggle">
		<div></div>
		<div></div>
		<div></div>
	</label>


	<nav class="navbar navbar-inverse">
		<div class="col-xs-12 header" id='header'>
			<div>


				<span class="header_fecha">#{template.fecha}</span>

				<table class="user_group">
					<tr>
						<td><font class="header_userpass">Usuario:</font> <span
							class="header_userpass">#{template.usuario}</span></td>
					</tr>
					<tr>
						<td><font class="header_userpass">Grupo:</font> <span
							class="header_userpass">#{template.grupo}</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-xs-12 cabecera" id='cabecera'>
			<table>
				<tr>
					<td class="cabecera_nombre"><font class="texto_banco">#{template.cabecera}-</font>
						<span class="texto_banco">#{template.subCabecera}</span></td>
				</tr>
			</table>
		</div>
	</nav>

	<div class="container">
		<div class="content_principal">
			<!-- Pantalla principal -->
			


			<!-- <div class="col-xs-3 nav" id='nav'></div>-->
			<!-- Menu -->
			<div class="col-xs-9 encabezado_main" id="encabezado_main">
			<div class="container">
			  <div class="row">
			    <div class="col-xs-1 text_azul texto_enmedio">
			      Nombre:
			    </div>
			    <div class="col-xs-2 texto_enmedio">
			      María I. Severino E.
			    </div>
			    <div class="col-xs-4 texto_enmedio">
			    </div>
			    <div class="col-xs-1 text_azul texto_enmedio">
			      No.: 
			    </div>
			    <div class="col-xs-2 texto_enmedio">
			      00001254
			    </div>
			    <div class="col-xs-1 texto_enmedio">
			      
			    </div>
			  </div>
			  </div>
			</div>
			<div class="col-xs-9 main" id='main'></div>
			<!-- Contenido -->
		</div>
	</div>

	<div id='alertas' class="alertas">
		<!-- Apartado para Alertas -->
		<div class='alertt'><span><strong>#{template.mensaje}</strong></span>
		</div>
	</div>
	<footer id='message' class="message">
		<!-- Apartado para Mensajes -->
	<div  class='messaget'><span><strong>#{template.accesosRapidos}</strong></span></div>

	</footer>
 
 </div>
 <nav id="elnav">
	<ul>
		<li>link1</li>
		<li>link2</li>
		<li>link3</li>
		<li>link4</li>
	</ul>
</nav>
 
</h:body>
</html>