<!-- Pagina principal de Login
Autor: GBG
Fecha: 25/07/2017
 -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
	<title>ASP Integra Opciones</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css"	href="resource/css/site-style.css"> </link>
	<script type="text/javascript" src="resource/js/keycode.js"></script>
	<link rel="stylesheet" type="text/css"	href="resource/css/template_personas.css"></link>
	<link rel="stylesheet" type="text/css"	href="resource/css/modal.css"> </link>
	
	<script type="text/javascript" src="resource/js/index_personas.js"></script>
	<script type="text/javascript" src="resource/js/menu.js"></script>	
	<h:outputScript name="jquery/jquery-plugins.js" library="primefaces"/>
	
	</h:head>
<h:body onload="#{template.init()}; init();">

	<nav class="navbar navbar-inverse">
		<div class="col-xs-12 header" id='header'>
			<div>


				<span class="header_fecha">
				    <p:clock pattern="dd/MM/yyyy hh:mm:ss a " mode="server" id="reloj" class="reloj" />
				</span>

				<table class="user_group">
					<tr>
						<td><font class="header_userpass">Usuario:</font> <span
							class="header_userpass">#{template.usuario}</span></td>
					</tr>
					<tr>
						<td><font class="header_userpass">Grupo:</font> <span
							class="header_userpass">#{template.grupo}</span></td>
					</tr>
				</table>
			</div>
		</div>
		<h:form>
		<div class="col-xs-12 cabecera" id='cabecera'>
			<table>
				<tr>
					<td class="cabecera_nombre"><font class="texto_banco">#{template.cabecera}-</font>
						<span class="texto_banco">#{template.subCabecera}</span>
					</td>
				</tr>
			</table>
			
		</div>
		</h:form>
	</nav>

	<div class="container">
		<div class="content_principal">
			<!-- Pantalla principal -->
			<div class="col-xs-3 nav" id='nav'>
			<h:form id="menu_form">
		<div class="menu_content">
			<table class='menu_tabla'>
				<tr>
					<td>
						<p:commandButton  value="Datos" id="Datos"  icon="Icono_datos" onclick="menu(1);"/></td>
				</tr>
				<tr>
					<td>
						<p:commandButton align="left" value="Domicilios" id="Domicilios" onclick="menu(2);" icon="Icono_domicilio" >
							<f:param class="button" name="productId" value="10" />
						</p:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<p:commandButton align="left" value="Teléfonos" id="Telefonos" onclick="menu(3);" icon="Icono_telefonos">
							<f:param class="button" name="productId" value="10" />
						</p:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<p:commandButton align="left" value="Consultas Crediticias" id="Consultas" onclick="menu(4);" icon="Icono_consultacredi">
							<f:param class="button" name="productId" value="10" />
						</p:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<p:commandButton align="left" value="Identificaciones" id="Identificaciones" onclick="menu(5);" icon="Icono_identifica">
							<f:param class="button" name="productId" value="10" />
						</p:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<p:commandButton align="left" value="Expediente" id="Expediente" onclick ="menu(6);" icon="Icono_expediente">
							<f:param class="button" name="productId" value="10" />
						</p:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<p:commandButton align="left" value="Posición Global" id="posicion_global" onclick ="menu(7);" icon="Icono_posicionglobal">
							<f:param class="button" name="productId" value="10" />
						</p:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<p:commandButton align="left" value="Autorizaciones" id="Autorizaciones" onclick="menu(8);" icon="Icono_autorizaciones">
							<f:param class="button" name="productId" value="10" />
						</p:commandButton>
						<br/>
						
					</td>
				</tr>
				
				<c:if test="#{template.tipoPersonas == 2}">
					<tr>
						<td><p:commandButton align="left" value="Involucrados" id="Involucrados" onclick="menu(9);" icon="Icono_involucrados">
								<f:param class="button" name="productId" value="10" />
							</p:commandButton>
						</td>
					</tr>
				</c:if>
			</table>
		</div>
	</h:form>
			
			</div>
			<!-- Menu -->
			<div class="col-xs-9 encabezado_main" id="encabezado_main">
			<div class="container">
			  <div class="row">
			    <div class="col-xs-1 text_azul texto_enmedio">
			      Nombre:
			    </div>
			    <div class="col-xs-2 texto_enmedio">
			      María I. Severino E.
			    </div>
			    <div class="col-xs-4 texto_enmedio">
			    </div>
			    <div class="col-xs-1 text_azul texto_enmedio">
			      No.: 
			    </div>
			    <div class="col-xs-2 texto_enmedio">
			      00001254
			    </div>
			    <div class="col-xs-1 texto_enmedio">
			      
			    </div>
			  </div>
			  </div>
			</div>
			<div class="col-xs-9 main" id='main'></div>
			<!-- Contenido -->
		</div>
	</div>

	<div id='alertas' class="alertas">
		<!-- Apartado para Alertas -->
		<div class='alertt'><span><strong>#{template.mensaje}</strong></span>
		</div>
	</div>
	<footer id='message' class="message">
		<!-- Apartado para Mensajes -->
	<div  class='messaget'><strong><span id="shortcuts" class="text-center">  DATOS = CTRL + D,  DOMICILIOS = CTRL + ALT + D,  TELEFONOS = CTRL + P,  CONSULTA CREDITICIAS = CTRL + ALT + C,  IDENTIFICACIONES = CTRL + I <br /> EXPEDIENTES = CTRL + ALT + E ,
	 AUTORIZACIONES = CTRL + ALT + A, INVOLUCRADOS  = CTRL + ALT + I</span></strong></div>

	</footer>
 
</h:body>
</html>