<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<script src="resource/js/jquery-3.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAyBviIXn-gDl_4Sy7AVCFO1Gb9Jl8xAWs"></script>

 
</h:head>
<h:body>
	<script type="text/javascript">
//<![CDATA[ 
    function geocode() {
        PF('geoMap').geocode(document.getElementById('address').value);
    }
 
    function reverseGeocode() {
        var lat = document.getElementById('lat').value,
            lng = document.getElementById('lng').value;
 
        PF('revGeoMap').reverseGeocode(lat, lng);
    }
  //]]>
</script>


	<h:form prependId="false">
		<p:gmap id="geoGmap" widgetVar="geoMap"
			center="#{geocodeView.centerGeoMap}" zoom="15" type="ROADMAP"
			model="#{geocodeView.geoModel}" style="width:200px;height:150px">
			<p:ajax event="geocode" listener="#{geocodeView.onGeocode}"
				update="@this" />
		</p:gmap>
	</h:form>
</h:body>
</html>
