<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>

</h:head>

<body onload="#{autorizaciones.init()}">
	<h:form id="listAutorizaciones" class="content_autorizaciones">
		<div class="borde" style="width: auto;">
			<font class="etiquetaBorde titulosAzul"> Autorizaci&oacute;n
				personas </font>
			<div class="contenedor">
				<!-- ***** INICIA IMAGENES ***** -->
				<div class="row" style="padding-bottom: 0; margin-bottom: 0;">
					<div class="col-md-2 col-md-offset-10"
						style="padding-bottom: 0; margin-bottom: 0;">
						<ul class="list-inline">
							<li class="list-inline-item"><p:commandLink
									class="functionAddAut" id="saveAut"
									actionListener="#{autorizaciones.save()}"
									oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);"
									update="listAutorizaciones">
									<h:graphicImage class="dimensionIcon guardarAutorizaciones size-img"
										value="resource/images/guardar.png" />
								</p:commandLink></li>
							<li class="list-inline-item"><p:commandLink
									class="functionCancelAut" id="cancelAut"
									actionListener="#{autorizaciones.cancel()}"
									oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);"
									update="listAutorizaciones">
									<h:graphicImage class="img-responsive size-img"
										value="resource/images/cerrar.png" />
								</p:commandLink></li>
						</ul>
					</div>
				</div>
				<!-- ***** TERMINA IMAGNES ***** -->
				<p:messages id="growl" showDetail="true" sticky="true" />
				<p:dataTable var="autpe"
					value="#{autorizaciones.listaAutorizacionesVista}"
					style="width:60%; min-width:50%; margin-left: 20%"  emptyMessage="#{autorizaciones.mensaje}">

					<p:column headerText="" class="center" style="width:5%">
						<f:facet name="header">
							<h:graphicImage value="resource/images/flecha.png"
								class="img_tablas" />
						</f:facet>
						<p:graphicImage value="resource/images/flecha.png"
							class="img_tablas">
							<!-- <f:param name="pid" value="resource/images/flecha.png" /> -->
						</p:graphicImage>
					</p:column>

					<p:column headerText="Descripci&oacute;n Autorizaci&oacute;n"
						class="center" style="width:30%">
						<h:outputText value="#{autpe.descripcion}" />
					</p:column>

					<p:column headerText="Autorizar" class="center" style="width:10%">
						<h:outputText value="" />
						<p:selectBooleanCheckbox id="checkAutorizacion" value="#{autpe.estatusVista}"></p:selectBooleanCheckbox>
					</p:column>
				</p:dataTable>
				<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			</div>
		</div>
	</h:form>
</body>
</html>