<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>
    
    <body>
    	
    
        <div class="content" style="background-color:white;">
       
        <h:form>
    	<table style="border: 1px solid; width: 100%">
    	<tr>
    	<td>Monto m&aacute;ximo mensual:</td>
    	<td>Monto m&aacute;ximo pago mensual</td>
    	</tr>
    	<tr>
    	<td><h:inputText></h:inputText></td>
    	<td><h:inputText></h:inputText></td>   	
    	</tr>
    	
    	<tr>
    	<td>Ingresos mensuales:</td>
    	<td>Monto m&aacute;ximo ahorro mensual</td>
    	</tr>
    	<tr>
    	<td><h:inputText></h:inputText></td>
    	<td><h:inputText></h:inputText></td>   	
    	</tr>
    	</table>
    	<p:selectBooleanCheckbox id='checkPLD'></p:selectBooleanCheckbox><span>Misma Empresa de trabajo</span>
			
		<table>
		<tr>
		<td><font>Centro de Trabajo</font> </td>
		
		</tr>
		<tr>
		<td><h:inputText style="width:450px"></h:inputText> </td>
		
		</tr>
		</table>	    	
    	
    	</h:form>
        </div>
    </body>
</html>