<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
		<script type="text/javascript" src="resource/js/acordionIdentificaciones.js"></script>
		<link rel="stylesheet" type="text/css"	href="resource/css/identificaciones.css"></link>
	</h:head>
	<body onload="#{identificaciones.init()}">
	  <h:form id="acordeonGeneral">
		<div class='Acordion AcordionDomicilios'>
			<p:accordionPanel id="identificaciones_form">
<!-- TAB DE DATOS IDENTIFICACION -->
				<p:tab class="datosIdentificacion_tab">
		 			<f:facet name="title">
          				<p:graphicImage class="acordeonImageSize" value="resource/images/acordion/datosIdentificacion.png"/>
             			<h:outputText value="Datos Identificaci&oacute;n"/>
            		</f:facet>
					<div id="datosidentificaciones" class="content tab2"/>
					<h:panelGrid columns="2" cellpadding="10"/>
        <!-- FORMULARIO PANTALLA DATOS IDENTIFICACIONES -->
					<h:form id="form-ident" class="content">
					<input type="hidden" name="idSeleccionado" value="#{identificaciones.idIdeSeleccionado}"/>
				
					<input type="hidden" name="pantalla" id="pantalla" value="#{identificaciones.pantalla}"/>
					<p:messages id="growl" showDetail="true" sticky="true" />  
		 				<div class="row m0p0" >
							<div class="col-md-2 col-md-offset-10 m0p0">
								<ul class="list-inline">
									<li class="list-inline-item liStyle" >
										<p:commandLink class="functionAddIdentificacion" id="plus" actionListener="#{identificaciones.add()}" update="acordeonGeneral">
	    									<h:graphicImage value="resource/images/plus.png" class="imagen" />
										</p:commandLink>
									</li>
									<li class="list-inline-item alto2_porciento" >
										<p:commandLink  id="telefono_datos_guardar" 	class="telefono_datos_guardar br0_bg0 functionSaveIdentificacion"	oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);" 
										update="growl acordeonGeneral" onclick="setTimeout(function() { validarCampos()}, 2000);" actionListener="#{identificaciones.save()}">
	    									<h:graphicImage value="resource/images/guardar.png" class="ImagenButton_size"/>
										</p:commandLink>
									</li>
									<li class="list-inline-item alto2_porciento"  >
										<p:commandLink class="functionDeleteIdentificacion" id="cerrar" oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);" 
										update="acordeonGeneral" 	actionListener="#{identificaciones.delete()}" >
										  <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar la identificación?" icon="ui-icon-alert" />
	    									<h:graphicImage value="resource/images/cerrar.png" class="ImagenButton_size"/>
										</p:commandLink>
									</li>
								</ul>
							</div>
						</div>
						 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					       <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					       <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					   	</p:confirmDialog>
						<table class='m0p0 table'>
							<tr  class="alto2_porciento">
								<td class="col-md-2 pb50">
									<font class="estiloEtiquetasDomicilios">Tipo identificaci&oacute;n:</font>
								</td>
								<td class="col-md-3">
									<p:selectOneMenu id="identificacionesDatos01" value="#{identificaciones.tipoIdentificacionSelected}" class="comboSizeIdentificaciones" onchange="cambiaColorCmbidentificacionesDatos01()" autoWidth="false" disabled="#{identificaciones.disabledcomboBox}" >
										
										<f:selectItem itemValue="XXXX" itemLabel="--SELECCIONAR--" noSelectionOption="true"  />
			 							<f:selectItems value="#{identificaciones.listTipoIdentificacion.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
									</p:selectOneMenu>    
								</td>
								<td class="uno_porciento"><b class="colorRojoIdentif">&#42;</b></td>
								<td>
									<p:selectBooleanCheckbox id='checkdatos01' class="ml5" value="#{identificaciones.principal}"/>
									<span>&nbsp;&nbsp;Principal</span>
								</td>
							</tr>
							<tr class="alto2_porciento">
								<td class="col-md-2">
									<font class="estiloEtiquetasDomicilios">Valor:</font>
								</td>
								<td class="col-md-3">
									<p:focus for="valorDatos01" />
									<p:inputText id='valorDatos01' class="text-uppercase form-controlIdentificaciones fLeft" value="#{identificaciones.valor}" onkeypress="cambiarColorInput()" />
								</td>
								<td class="uno_porciento"><b class="colorRojoIdentif">&#42;</b></td>
							</tr> 
						</table>
					</h:form>
				</p:tab>
<!-- TAB IDENTIFICACIONES -->					
				<p:tab>
					<f:facet name="title">
               			<p:graphicImage class="acordeonImageSize" value="resource/images/acordion/identificaciones2.png"/>
               			<h:outputText value="Identificaciones"/>
            		</f:facet>
					<div id="identificaciones" class="content tab2"/>
					<h:panelGrid columns="2" cellpadding="10"/>
<!-- DATA TABLE  PANTALLA IDENTIFICACIONES -->	
					<h:form id="directorio_identificaciones" class="pt2percent">
					<input type="hidden" value="#{identificaciones.pantalla}" name="pantalla" />		
					<p:dataTable var="ide" class="textCenter"  value="#{identificaciones.listaDirectorio}" selectionMode="single"  rowKey="#{ide.idide}" selection="#{identificaciones.listaDirectorioSelected}"  emptyMessage="#{identificaciones.mensaje}">
						<p:ajax event="rowSelect" listener="#{identificaciones.onRowSelect()}" update="acordeonGeneral"/>
						<p:column headerText="" class="center cuatro_porciento fs10" >
							<f:facet name="header">
								<h:graphicImage value="resource/images/flecha.png" class="img_tablas" />
							</f:facet>
							<p:graphicImage value="resource/images/flecha.png" class="img_tablas"/>
						</p:column>
						<p:column headerText="id2" styleClass="hidden" class="ocho_porciento oculto fs10">
							<h:outputText value="#{ide.idide}" />
						</p:column>
						<p:column headerText="Tipo Identificaci&oacute;n" class="center veinte_porciento fs10" >
							<h:outputText value="#{ide.tipoIdentificacionSelected}" />
						</p:column>
						<p:column headerText="Valor"  class="center ocho_porciento fs10">
							<h:outputText value="#{ide.valor}" />
						</p:column>
						<p:column headerText="Estatus"  class="center ocho_porciento fs10">
							<h:outputText value="#{ide.estatus}" />
						</p:column>
						<p:column headerText="Principal" class="center ocho_porciento fs10" >
							<p:selectBooleanCheckbox value="#{ide.principal}" disabled="true"/>
						</p:column>
					</p:dataTable>
					</h:form>
				</p:tab>
			</p:accordionPanel> 
		</div>
		</h:form>
	</body>
</html>