* {
	margin: 0; padding: 0;
	box-sizing: border-box; }
	
body{
	background: none;
}

#wrap {
	background: red;
	min-height: 100vh;
	position: relative;
	transition: transform .2s ease; 
}

#toggle {
	display: none; }
	#toggle:checked ~ #wrap {
		transform: translateX(220px); }

label[for=toggle] {
	display: inline-block;
	position:absolute;
	top: 30px; left: 30px;
	line-height: 16px;
	cursor: pointer;
	width: 22px;
	z-index:2;
	height: 22px; }

label[for=toggle] div {
	width: 22px;
	height: 2px;
	background: green;
	position: absolute;
	top: 0;
	right: 0; }

label[for=toggle] div:nth-child(2) {
	top: 7px; 
}

label[for=toggle] div:nth-child(3) {
	top: 14px; 
}

nav#elnav{
	background-color: #222 !important; 
	position: fixed;
	top: 0; bottom: 0; left: 0;
	width: 220px;
	z-index: -1; 
}

nav#elnav li {
	color: black;
	margin-top: 30px;
	text-align: center; 
}