#ModalMain{
	margin:0 auto;
	position: relative;
	width:799px;
	height:523px;
	
}
.modalABE{
	width:799px;
	height:523px;
	position: relative;
	margin: 0 auto;
	padding: 5px 20px 13px 20px;
	border-radius: 2px;
	padding-bottom:10px;
	box-shadow:0px 1px 1px #c9c9c9;
	background:#FFFFFF;
	overflow-y: auto;
	overflow-x:auto;
}
#encabezadoModal {
	width:799px;
	/*height:20px;*/
	position: relative;
	margin: 0 auto;
	margin-top:10%;
	padding: 5px 20px 13px 20px;
	background:#008AC8 100%;
	border-radius:2px;
}
#encabezado{
	color:#FFF9F4 100%;
}

.showmodal{
	position:fixed;
	display:block;
	z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hidemodal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
	background-image: url(../../images/ABE_CuentasFrecuentes/icono_cerrar_modal.png);
	background-repeat:no-repeat;
	background-position:top right;	
	width:30px;
	background-size:30px 30px;	
	border-radius:50%;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top:-18px;
    right:-33px;
    position:relative;
}