/*
.meed{
	padding:25%;
}*/

/*VERSION GUSTAVO*/
body {
	font-size: .99em;
}

@font-face {
	font-family: Ubuntu-R;
	src: url(../fonts/Ubuntu-R.ttf);
	/*font-weight: 400;*/

}

* {
	font-family: Ubuntu-R;
}
.texto_banco{
	
	
	color:white;!important
}
.text_azul{
	color:#4B5B7D;!important;
}
.texto_enmedio{
	margin-top:0.5%;
	font-weight: bold;
}
.cabecera_nombre{
	padding-top:7%;
}
 /*Header*/
.header {
	background-color: black;
    position:fixed;
    left:0%;
    top:0%;
    height:6%;
    width:100%;
}
.header_fecha {
	float: right;
	margin-top: 10px;
	color: white;
}
.header_userpass {
	color: white;
}
/*Cabecera*/
 .cabecera {
	background-color: #4B5B7D;
	position:fixed;
    left:0%;
    top:6%;
    height:6%;
    width:100%;
} 
/*Content*/
.content_principal{
	background-color: #ffffff;
	position:fixed;
    left:0%;
    top:12%;
    height:77%;
    width:100%;
}
/*Menu -> Navegación*/
.menu_tabla{
	width:100%;
	height:100%;	
}
/*.menu_content{
	height:500px;
	min-height:500px;
	max-height:500px;
}*/
.nav{
    padding:0 0 0 0px;!important;
}
.butonMenu{
	width: 100%;
	height: 100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background-color:#c7c6c5;
	 border-collapse: collapse;
}
.ui-button{
    width:100%;
    height:100%;
}

/*Contenido principal*/
div#encabezado_main{
	height: 4%;
}
div#main{
	padding: 0 0 0 0px;
	overflow-y: hidden;
	height: 100%;
}

/*Alertas*/
.alertas {
	color: red;
	background-color: #DDDDDD;
	position: fixed;
	left: 0%;
	bottom: 5%;
	height: 6%;
	width: 100%;
	/*Estilo de borde*/
	border-style: groove;
	border-color: #A8A8A8;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
}
/*Text de la alerta*/
.alertt {
	text-align: center;
    margin-top: 0.2%;
    font-size: 1.5em;
    cursor: pointer;
}

/* Set black background color, white text and some padding */
.message {
	color: #4F4F4F;
	background-color: #DDDDDD;
	position: fixed;
	left: 0%;
	bottom: 0%;
	height: 6%;
	width: 100%;
	/*Estilo de borde*/
	border-style: groove;
	border-color: #A8A8A8;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
}
.messaget {
	text-align: center;
    margin-top: 0.5%;
    font-size: 1.3em;
    cursor: pointer;
    vertical-align: middle;
}
.mensaje_usuario {
	margin-top: 5%;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
/*Iconos*/
.ui-icon {
	border-radius: 0px !important;
	width: 16px !important;
	height: 21px !important;
	margin-left: -4px;
}
.Icono_datos {
	background-image:	url(../images/menu/icono-menu-datos.png)!important;
	width: 25px !important;
	height: 25px !important;
	margin-left: 10%;
}

.Icono_domicilio {
	width: 25px !important;
	height: 25px !important;
	background-image:		url(../images/menu/icono-menu-domicilio.png)	!important;
	margin-left: 10%;
}

.Icono_telefonos {
	margin-left: 10%;
	width: 25px !important;
	height: 25px !important;
	background-image:	url(../images/menu/icono-menu-telefonos.png) !important;
}
.Icono_consultacredi {
	margin-left: 10%;
	width: 25px !important;
	height: 25px !important;
	background-image: url(../images/menu/icono-menu-conCredi.png) !important;
}
.Icono_identifica {
	width: 25px !important;
	height: 25px !important;
	background-image:		url(../images/menu/icono-menu-identif.png)		!important;
	margin-left: 10%;
}
.Icono_expediente {
	margin-left: 10%;
	width: 25px !important;
	height: 25px !important;
	background-image:		url(../images/menu/icono-menu-expediente.png)		!important;
}
.Icono_posicionglobal {
	margin-left: 10%;
	width: 25px !important;
	height: 25px !important;
	background-image:		url(../images/menu/icono-menu-posGlobal.png)		!important;
}
.Icono_autorizaciones {
	margin-left: 10%;
	width: 25px !important;
	height: 25px !important;
	background-image:		url(../images/menu/icono-menu-autorizacion.png)		!important;
}
.Icono_involucrados {
	margin-left: 10%;
	width: 25px !important;
	height: 25px !important;
	background-image:		url(../images/menu/icono-menu-involucrados.png)		!important;
}


/*Acordiones*/
.Acordion {
	height: 94%;
}
.ui-accordion .ui-accordion-content {
	height: 100%;
}
.ui-accordion-content ui-helper-reset ui-widget-content {
	height: 100%;
}
.ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top	{
	height: 100%;
  }
 
 
 /*INPUT*/
 .ui-widget-header .ui-inputfield .ui-widget-content .ui-inputfield {
    height: 26px !important;
    font-weight: normal;
    border: none !important;
    width: 70% !important;
}
 
/*Autorizaciones*/
.content_autorizaciones{
	width:98%;
}    

/*Posición Global*/
div#j_idt5:creditos:j_idt8{
	background-color: blue;	
}
.text-center{
	text-align: left!important;
}

/* lineas de las tablas */
/* .tableGrid{
	border: 1px solid;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table.tableGrid td {
    height: 35px;
    border: gray 1px solid;
} */
/*jona 3 junio*/
.table {
    width: 80%;
    max-width: 100%;
    margin-bottom: 0px;
    margin: 0 auto;
}
.tableBusqueda {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    margin: 0 auto;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding-top: 0;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}
/*COMBOBOX*/
.ui-selectonemenu label.ui-selectonemenu-label {
	box-shadow:none!important		;
    cursor: pointer;
    width: 100%;    
    height: 23px!important;
    font-size: 12px;
    
}   

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 0px!important;
}

.comboSize{
	width:70%;
	min-width:70%!important;
	autoWidth=false;
}

/*Esta estabas comentada*/
.ui-selectonemenu .ui-selectonemenu-trigger  {
	width: 20px !important;
    background-color: #ffffff !important;
    border-color: #a5a5a5 !important;
    border: none!important;
    height: 0px!important;
    margin-top: 7px !important;
}

.ui-selectonemenu {
	display: inline-block !important;
	position: relative !important;
	width: auto !important;
	zoom: 1 !important;
	cursor: pointer !important;
	padding-right: 0em !important;
}
/**color de fondo acordeon**/
.ui-accordion .ui-accordion-content {
	/*background-color: #f0f0f0;*/
	background-color: #ffffff;
}

.ui-tabs-panel { 
	background-color: #f0f0f0 !important;
}

#main, .encabezado_main{
	/*background-color: #f0f0f0;*/
	background-color: #ffffff;
}

.borde{
	width:100%;
	border: 2px solid;
	border-radius: 5px;
	margin:10px;
	color: #c3c3c3;
}
.etiquetaBorde{
	float: left;
    z-index: 1;
    margin-top: -10px;
    background-color: #ffffff;
    color: #3b547b;
    font-weight: bold;
    font-size: 14px;
}
/***************************************/
/*Acomo de los checkbox*/
span.ui-chkbox-icon.ui-icon.ui-c.ui-icon-check {
	background-position: -61px -145px;!important
}
/** Fecha inicio: 03/06/2017 por MCD
*Posiciona el div mapa de domicilios datos**/
.divMapa{
	margin-top: -17%;
}
/**Tamano de caja de texto en domicilios datos**/
.tamanioCajaText2 {
	width: 70%;
	box-shadow: none!important;
	height: 26px!important;
	font-size: 12px;
}
.tamanioCajaText {
	width: 40%;
	box-shadow: none!important;
	height: 26px!important;
	font-size: 12px;
}
/**Contenedor de adjuntar foto en domicilios datos**/
.content-foto-dom {
	margin-left: -105px;
}
/*Estilo textArea en domicilios datos*/
/* .estiloTextAreaDom {
	width: 98%;
	height: 35%;
	text-transform: uppercase;
} */
/*posiciones de contenedores en domicilios datos*/
/* .contentReferencia-dom {
	margin-top: 2%;
} */

/* .content-direccion {
	margin-top: 2%;
} */

.center {
	text-align: center;
}
.img_tablas{
	width:8px; 
	height:8px;
}

.img_tablas20{
	width:20px; 
	height:20px;
	margin-left: 3%;
}

/**Fecha fin: 03/06/2017 por MCD*/
/*jona 3 junio*/
.comboChico {
    bottom: -10px;
    width: 10px !important;
    height: 23px !important;
}
/*******************/
 
 /*Gustavo 03/06/2017*/
 .ui-accordion .ui-accordion-header{
     color: #3b547b;
     font-size: 15px;
     font-family: Ubuntu-R !important ;
 }
 .paddin_gral{
	padding:5px 8px 0px 8px!important
 }

}
/*M l 03/06/2017*/

.tipoLetraUbuntu{
	font-family: Ubuntu-R !important ;
}
.labelAzul{
	font-size:10px;
	color: #3b547b;
	font-family: Ubuntu-R !important ;
}

ui-selectonemenu-label ui-inputfield ui-corner-all{
	width:70%;
	border: none;
}



#PosicionGlobalTitulo{
	font-size: 2.2em;
	font-weight: bold;
	margin: 0 auto;
	display: table;
}
.centrar{
	padding-top:5%;
	margin: 0 auto;
	display: table;
}
.estiloMayus {
  font-family: Ubuntu-R;
  color: #3b547b;
  text-align: left;
  size: 10px;
  text-transform: uppercase;
}
.calendar{
	background-image: url("../../resource/images/iconCalendar.png");
	background-repeat: no-repeat;
	background-position: right;
	vertical-align: middle;
}

.search{
	background-image: url("../../resource/images/buscar.png");
	background-repeat: no-repeat;
	background-position: right;
	vertical-align: middle;
	background-size: 25px;
}
.colorRojo{
	color: red;
}
.colorRojoIdentif{
	color: red;
    position: relative;
}

/****ALTO DE ACORDEONES 7 JUNIO 2017 JMATA************************* */
.AcordionPosicionGobal{
	height: 65%
}

.AcordionDatos{
	height: 79%
}
.AcordionTelefonos{
	height: 82%
}
.AcordionDomicilios{
	height: 50%;
}
/*********************************************************************/
.colorRojoPos530{
	left: -530%;
    color: red;
    position: relative;
}
.colorRojoPos280{
	left: -280%;
    color: red;
    position: relative;
}

/*Gustavo bujano 07/06/2017*/
.hidden{
    display: none;
}
.noBorder{
	border-color:gray
}
.redBorder{
	border-color:red;
}
/*Fin*/

/*Estilos para tomar porcentajes*/
 .veinticinco_porciento{
 	width:25%;
 }
 .veinte_porciento{
 	width:20%;
 }
 .nueve_porciento{
 	width:9%;
 }
 .quince_porciento{
 	width: 15%;
 }
 .ocho_porciento{
 	width:8%;
 }
 .cuatro_porciento{
 	width:4%;
 }
 .tres_porciento{
 	width:3%;
 }
 .cuarenta_porciento{
 width: 40%;
 }
 .treinta_porciento{
 width: 30%;
 }
 .uno_porciento{
 width: 1%;
 }
 
 .sesenta_porciento{
 	width: 60%;
 }
 .tdDom{
 	width: 61%;
 }
 .ml5{
 margin-left: 5%;
 }
 
 
 /*TAMANO ICONO DE ACORDEON*/
 .AccordionIcon{
	width: 20px;
}

.iconTelefono{
	width: 20px;
}
 .centrar_imagen_tabla{
 	margin-left: auto;
	margin-right: auto;
}

.imagen {
    width: 32px!important;
    height: 32px!important;
}
.dimensionIcon{
    width: 32px!important;
    height: 32px!important;
    cursor: pointer;
}
.guardarAutorizaciones{
	    margin-bottom: 20px;
}
.input_cp {
       /* width: 44%!important; */
    width: 50%!important;
    box-shadow: none!important;
    height: 26px!important;
}
 .m0p0{
 margin-top: 0;
 padding-top: 0;
 }
 .alto2_porciento{
 height: 2%;
 }
 .ImagenButton_size{
 	width: 32px;
 	height: 32px;
 }
 .br0_bg0{
 border: none;
 background: none;
 }
 /*Fin de estilos para tomar porcentaje*/
 
 
 .tableDomicilios{
 width:60%; 
 margin-left:20%;
 }
 
 .textCenter{
 	text-align:center
 }
 .oculto{
 display:none;
 }
 
 /************STYLES DATOS**************/
 .va_m{
	vertical-align: middle;
}
.combo_correo{
	vertical-align:middle;
	width: 38%!important;
	min-width:38%!important;	
}
 
 .pb_2{
 padding-bottom: 2%;
 }
 
 .inputlada{
	width:20%;
	max-width: 20%;
}

 .correo{
	max-width: 27%;
}

.numero{
	width:78%; 
	max-width:78%;
	margin-left:2% !important; 
	display: inherit !important;
}
  
 /*************************************/
 /*TOP PAGINATION hidde***/
.ui-paginator.ui-paginator-top {
    visibility: hidden !important;
    border-bottom: 0 none;
}

/*TEXT ALIGN LEFT MENU */
.ui-button .ui-button-text{
	    text-align: left !important;
    	margin-left: 12% !important;
}

/*Quitar SCROLL HEIGHT*/
.ui-accordion .ui-accordion-content {
	overflow-y: hidden !important;
}

#reloj{
	background-color: black!important;
    background: black !important;
    border: black !important;
    color: white !important;
}

/****************************/
.visualizarDetallesTabla{
    float: left;
    width: 60%;
}
.visualizarDetallesCalificacion{
    float: right;
    width: 35%;
}

.noventaysietePorciento{
	width: 97%;
	margin-top: 21%;
}	
.link{
	text-decoration: underline;
	color:#3b547b!important;
}
	
/****************LOGIN BUSQUEDA********************/

.tamanodiv{
	width: 5%;
	background-color: red;
}

.form-control{
	width: 100% ;
	height: 26px !important;
	box-shadow: none !important;
	display: inline !important;
	font-size: 12px!important;
}
.fLeft{
	float: left;
}
.mb2{
	margin-bottom: 2%;
}
.hideAcordeon{
	display: none;
}
 .pt2percent{
 	padding-top: 2%;
 }
 
 .acordeonImageSize{
 	    width: 20px;
 	    margin-right: 5px;
 }
 .guardarInformacionL{
 	cursor:pointer;
 	position: absolute;
    z-index: 1;
    left: 95%;
    top: 1%;
 }
 .imagen{
 cursor:pointer
 }

.comboDatosColonia {
    min-width: 83%!important;
}
  
.criteriosBusquedaInputs{
	visibility: hidden;
	height: 1px;
}

.resultadosBusquedaLabel{
	visibility: hidden;
	height: 1px;
}
.textRight{
	text-align: right;
}
.w100{
	width: 100%!important;
}

.mr40{    
	margin-right: 40px;
}