<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<style type="text/css">
	 .ui-fileupload-buttonbar .ui-widget-header{
	 		height: 40px;
	 
	 } 
	
	</style>
	<script type="text/javascript" src="resource/js/acordionExpedientes.js"></script>
	<link rel="stylesheet" type="text/css"	href="resource/css/expedientes.css"> </link>
</h:head>
<body onload="#{expedientesView.init()}">
		<div class='Acordion AcordionTelefonos'>
			<p:accordionPanel id="expedientes_form">
				<!-- TAB EXPEDIENTES  -->
				<p:tab>
					<f:facet name="title">
						<p:graphicImage class="acordeonImageSize" value="resource/images/acordion/expedientes.png" />
						<h:outputText value="Expedientes" />
					</f:facet>
					<h:form id="expedientes">
					<input type="hidden" value="#{expedientesView.pantalla}" name="pantalla" id="pantalla" />
					 	<p:messages id="growl" showDetail="true" sticky="true" />
						<input type="hidden" value="#{telefonos.pantalla}" name="pantalla" id="pantalla" />
					 	<div class="row m0p0" >
						<div class="col-md-2 col-md-offset-10 m0p0">
							<ul class="list-inline">
									<li class="list-inline-item liStyle" >
										<p:commandLink class ="functionAddExpediente" oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);"	id="telefono_datos_plus" actionListener="#{expedientesView.add()}" update="expedientes_form:expedientes:tabla">
											<h:graphicImage value="resource/images/plus.png" class="imagen" />
										</p:commandLink>
									</li>
									<li class="list-inline-item liStyle" >
										<p:commandLink oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);"	id="telefono_datos_guardar" class="telefono_datos_guardar functionSaveExpediente" 	style="border: none; background: none;"	actionListener="#{expedientesView.save()}" update="growl">
											<h:graphicImage value="resource/images/guardar.png" class="imagen" />
										</p:commandLink>
									</li>
									<li class="list-inline-item liStyle" >
										<p:commandLink  class ="functionDeleteExpediente" oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);"	id="cerrar" actionListener="#{expedientesView.remove()}" update="expedientes_form:expedientes:tabla expedientes_form:expedientes:growl">
											<h:graphicImage value="resource/images/cerrar.png"  class="imagen" />
										</p:commandLink>
									</li>
									
							</ul>
						</div>
					</div>

						<p:dataTable var="Exp" value="#{expedientesView.listaExpedientes}" editable ="true" editMode="cell" id="tabla" widgetVar="cellCars" selectionMode="single"  rowKey="#{Exp.indiceseleccionado}" emptyMessage="NO EXISTEN EXPEDIENTES REGISTRADOS ">
   						  <p:ajax event="rowSelect" listener="#{expedientesView.onRowSelect}" update="expedientes_form:expedientes:growl" />
   
				             <p:cellEditor>
				                 <f:facet name="output"><h:outputText value="#{Exp.idExpediente}" /></f:facet>
				                 <f:facet name="input"><p:inputText id="modelInput" value="#{Exp.idExpediente}"/></f:facet>
				             </p:cellEditor>
							<p:column headerText="" width="2%"  class="center cuatro_porciento">
								<f:facet name="header">
									<h:graphicImage value="resource/images/flecha.png"	class="img_tablas" />
								</f:facet>
							</p:column>
							<p:column headerText="Tipo Documento" class="center veinticinco_porciento">
								<p:selectOneMenu onchange="PF('carsTable').filter()" value="#{Exp.tipoDocumento}">
									<f:selectItem itemLabel=" SELECCIONE "
										itemValue="#{Exp.tipoDocumento}" noSelectionOption="true" />
			 							<f:selectItems value="#{expedientesView.listTipoDocumento.entrySet()}"  var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />

								</p:selectOneMenu>
							</p:column>
							<p:column headerText="Fecha Expedici&oacute;n" width="10%" class="center nueve_porciento" >
								<p:cellEditor>
					                 <f:facet name="output">
					                  <h:inputText value="#{Exp.fecha}">
											                <f:convertDateTime pattern="dd/MMM/yyyy" />
						            </h:inputText>
									</f:facet>
					                 <f:facet name="input">
					                 
					                 <p:calendar id="mask" value="#{Exp.fecha}" pattern="dd/MMM/yyyy" mask="true" />
 	

					                   </f:facet>
					                   
					                   
					             </p:cellEditor> 
					             
					             
							</p:column>

							<p:column headerText="Estatus" class="center nueve_porciento" >
								<h:outputText value="#{Exp.vigencia}" />
							</p:column>
							<p:column headerText="Observaciones" class="center veinte_porciento">
								<p:cellEditor>
					                  <f:facet name="output"><h:outputText value="#{Exp.observaciones}" /></f:facet>
					                  <f:facet name="input"><p:inputText  value="#{Exp.observaciones}" /></f:facet>
					             </p:cellEditor>
							</p:column>
							<p:column headerText="Fecha Creación" class="center nueve_porciento" >
								<h:outputText value="#{Exp.fechaCreacion}" />
							</p:column>

							<p:column headerText="Ver archivos" class="center ocho_porciento">
								<p:graphicImage value="resource/images/buscar.png"	class="img-responsive size-img centrar_imagen_tabla">
								</p:graphicImage>
							</p:column>
							<p:column headerText="" class="center cuatro_porciento" >
							     <p:commandLink  type="button" onclick="PF('dlg2').show();"	>
											<h:graphicImage value="resource/images/open-file.png" class="img-responsive size-img centrar_imagen_tabla" />
										</p:commandLink>
							
							
 
							</p:column>
							<p:column headerText="" class="center tres_porciento">
								<p:selectBooleanCheckbox value="#{Exp.seleccionado}"/>
							</p:column>
							    <p:column style="width:32px;text-align: center">
						             <p:commandButton  oncomplete="PF('dlg2').show()" icon="ui-icon-search" title="View">
						                <f:setPropertyActionListener value="#{Exp}" target="#{expedientesView.row}" />
						            </p:commandButton>
						        </p:column>
						</p:dataTable>
						
					</h:form>
				</p:tab>
			</p:accordionPanel>
		</div>
		
<!-- 	Ventana Modal para subir archivo -->
		<p:dialog resizable="false" appendTo="@(body)" modal="true"   header="#{expedientesView.mensaje}" widgetVar="dlg2" width="600" height="160">
  
		    <h:form >
				<p:fileUpload label="Seleccionar Archivo" fileUploadListener="#{expedientesView.handleFileUpload}" mode="advanced"
	                     update="messages" auto="true" sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
	   			 <p:growl id="messages" showDetail="true" />
			</h:form>
		
		</p:dialog>  
	<!-- 	fin Modal -->
		
</body>
</html>