<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<link rel="stylesheet" href="../../resource/css/telefonos.css"	type="text/css" media="all"></link>
</h:head>

<div id="myModal" class="showmodal">    
<span id="scriptjs"></span>  
		<div id="encabezadoModal" ><font id="encabezado" color="#FFFFF" size="5px"> Selecciona un beneficiario frecuente</font>
		<span class="close" id="close"></span>
		</div>
		<div id="modalABE_cuentas" class="modalABE">
		<div id="divBusuqeda">
		</div>
	<div id="divPrincipal" class="tabletoken">
<!-- 	/****************************************************************************************8/ -->
	<div id="busquedaContent" class="">
		<h:form id="busquedaIdFrm">
			<font id="BusquedaTitulo" class="">B&uacute;squeda del cliente</font>
			<br />
			<h:inputText id="numeroCliente"
				value="#{busquedaView.beanClienteEntrada.noCliente}">
			</h:inputText>

			<h:commandLink class="" action="#{busquedaView.busquedaClienteId}"
				update="resultadoContent">
				<h:graphicImage value="../../resource/images/buscar.png"
					class="imagen" />
			</h:commandLink>
		</h:form>
	</div>
	<div id="busquedaAvanzadaContent">
		<fieldset>
			<legend>Criterios de b&uacute;squeda</legend>
			<h:form id="busquedaAvanzadaFrm">
				<h:commandLink action="#" value="B&uacute;squeda avanzada" />
				<h:panelGrid rendered="#{busquedaView.avanzada}" columns="2">
					<h:outputLabel value="nombreCliente" class="" />
					<h:inputText id="nombreCliente"
						value="#{busquedaView.beanClienteEntrada.primerNombre}">
					</h:inputText>

					<h:outputLabel value="segudoNombre" for="segundoNombre" />
					<h:inputText id="segundoNombre"
						value="#{busquedaView.beanClienteEntrada.segundoNombre}">
					</h:inputText>

					<h:outputLabel value="apellidoPaterno" for="apellidoPaterno" />
					<h:inputText id="apellidoPaterno"
						value="#{busquedaView.beanClienteEntrada.apellidoPaterno}">
					</h:inputText>

					<h:outputLabel value="apellidoMaterno" for="apellidoMaterno" />
					<h:inputText id="apellidoMaterno"
						value="#{busquedaView.beanClienteEntrada.apellidoMaterno}">
					</h:inputText>

					<h:outputLabel value="fechaNacimiento" for="fechaNacimiento" />
					<h:inputText id="fechaNacimiento"
						value="#{busquedaView.beanClienteEntrada.fechaNacimiento}">
					</h:inputText>

					<h:outputLabel value="numeroCelular" for="numeroCelular" />
					<h:inputText id="numeroCelular"
						value="#{busquedaView.beanClienteEntrada.numeroCelular}">
					</h:inputText>


					<h:commandLink class=""
						action="#{busquedaView.busquedaClienteAvanzada}"
						update="resultadoContent">
						<h:graphicImage value="../../resource/images/buscar.png"
							class="imagen" />
					</h:commandLink>
				</h:panelGrid>
			</h:form>
		</fieldset>
	</div>
	<div id="resultadoContent">
		<fieldset>
			<legend>Informaci&oacute;n</legend>
			<h:form id="resultadoContentFrm"
				rendered="#{busquedaView.mostrarResultado}">
				<h:panelGrid columns="2">
					<h:outputLabel value="No. Cliente:" for="noClienteResp" />
					<h:outputText
						value="#{busquedaView.beanCliente.beanInformacion.noCliente}" />

					<h:outputLabel value="Nombre:" for="nombreCompleto" />
					<h:outputText
						value="#{busquedaView.beanCliente.datosGenerales.primerNombre} #{busquedaView.beanCliente.datosGenerales.segundoNombre} 
				 #{busquedaView.beanCliente.datosGenerales.primerApellido}  #{busquedaView.beanCliente.datosGenerales.segundoApellido}" />

					<h:outputLabel value="Tipo de cliente:" for="tipoclienteResp" />
					<h:outputText
						value="#{busquedaView.beanCliente.beanInformacion.tipocliente}" />

					<h:outputLabel value="Direccion:" for="direccionResp" />
					<h:outputText
						value="#{busquedaView.beanCliente.beanInformacion.direccion}" />

					<h:outputLabel value="Sucursal origen" for="sucursalResp" />
					<h:outputText
						value="#{busquedaView.beanCliente.beanInformacion.sucursalOrigen}" />

					<h:outputLabel value="Personalidad" for="personalidadResp" />
					<h:outputText
						value="#{busquedaView.beanCliente.beanInformacion.personalidad}" />

					<h:outputLabel value="numeroCelular" for="numeroCelularResp" />
					<h:outputText
						value="#{busquedaView.beanCliente.beanInformacion.celular}" />

					<h:outputLabel value="correo" for="coreoResp" />
					<h:outputText
						value="#{busquedaView.beanCliente.beanInformacion.correo}" />

					<h:outputText
						value="Sexo: #{busquedaView.beanCliente.beanInformacion.sexo}" />
					<h:outputText
						value="Edad: #{busquedaView.beanCliente.beanInformacion.edad}" />
				</h:panelGrid>
			</h:form>
		</fieldset>
	</div>

	<div id="actualizarCoreoContent" class="">
		<h:form id="actualizarCoreoContentFrm">
			<h:panelGrid columns="2">
				<h:outputLabel value="No. Cliente:" for="noClienteResp" />
				<h:inputText readonly="true"
					value="#{busquedaView.beanClienteEntrada.noCliente}">
					<h:outputText
						value="#{busquedaView.beanCliente.beanInformacion.noCliente}" />
				</h:inputText>
				<h:outputLabel value="Nombre:" for="nombreCompleto" />
				<h:outputText
					value="#{busquedaView.beanCliente.datosGenerales.primerNombre} #{busquedaView.beanCliente.datosGenerales.segundoNombre} 
				 #{busquedaView.beanCliente.datosGenerales.primerApellido}  #{busquedaView.beanCliente.datosGenerales.segundoApellido}" />
				<h:commandLink class="" action="#{busquedaView.actualizaCorreo}"
					update="resultadoContent">
					<h:graphicImage value="../../resource/images/guardar.png"
						class="imagen" />
				</h:commandLink>
				<h:graphicImage value="../../resource/images/cancelar.png"
					class="imagen" />
			</h:panelGrid>

			<fieldset>
				<legend>Informaci&oacute;n</legend>
				<h:outputLabel value="Correo electr&oacute;nico" />
				<h:inputText id="correoNuevo"
					value="#{busquedaView.beanClienteEntrada.correo}" />
				<h:outputLabel value="@" />
				<h:selectOneMenu id="dominioNuevo"
					value="#{busquedaView.beanClienteEntrada.correo}" />
			</fieldset>

		</h:form>
	</div>
<!-- 	/****************************************************************************************8/ -->
	</div>
		</div>
		</div>
</html>