<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
<!-- 		<script type="text/javascript" src="resource/js/acordionConsultas.js"></script> -->
	</h:head>
<body onload="#{consultaCrediticiaView.init()}">
<h:form>
	<!-- Se obtiene la información del View para saber en que pantalla se encuentra -->
					<input type="hidden" value="#{consultaCrediticiaView.pantalla}" name="pantalla" id="pantalla" />
	<div class='Acordion AcordionTelefonos'>
		<p:growl id="msgs" showDetail="true" />
		<p:accordionPanel>
			<p:tab>
				 <f:facet name="title">
               <p:graphicImage class="acordeonImageSize" value="resource/images/acordion/realizarConsultas.png"/>
               <h:outputText value="Realizar Consulta"/>
            </f:facet>
			<div id="realizarconsulta" class="content tab2">
<!-- 			*************************INICIA CONTENIDO****************************** -->
			<p:dataTable var="ConsCred" value="#{consultaCrediticiaView.listaRealizaConsulta}">
		<p:column headerText="" class="tres_porciento">
			<h:outputText value="" />
		</p:column>
		
		<p:column headerText="Referencia" class="quince_porciento">
			<h:outputText value="#{ConsCred.entidadFinanciera}" />
		</p:column>

		<p:column headerText="Antecendetes" class="center nueve_porciento" >
			<h:outputText value="#{ConsCred.antecedentes}" />
			<p:selectBooleanCheckbox id='checkConsCredRealizar'	class="ml5" disabled="true"/>
		</p:column>
		
		<p:column headerText="Resultado" class="center nueve_porciento" >
			<h:outputText value="#{ConsCred.resultado}" />
		</p:column>
		<p:column headerText="" class="center tres_porciento" >
			<p:graphicImage value="resource/images/binoculares.png" class="centrar_imagen_tabla " >
			</p:graphicImage>
		</p:column>

		<p:column headerText="" class="center tres_porciento" >
			<p:graphicImage value="resource/images/impresora.png" class="centrar_imagen_tabla "  onclick="window.open('#{consultaCrediticiaView.PDF}')" >
			</p:graphicImage>
		</p:column>

		<p:column headerText="" class="center tres_porciento" >
			<p:graphicImage value="resource/images/logoBuro.png" class="centrar_imagen_tabla " >
			</p:graphicImage>
		</p:column>

	</p:dataTable>
<!-- 			***************************TERMINA CONTENIDO**************************** -->
			</div>
				<h:panelGrid columns="2" cellpadding="10">
					
				</h:panelGrid>
			</p:tab>
			<p:tab >
				 <f:facet name="title">
               <p:graphicImage class="acordeonImageSize" value="resource/images/acordion/ConsultasAnteriores.png"/>
               <h:outputText value="Consultas crediticias"/>
            </f:facet>
				
						<div id="consultasanteriores" class="content tab2"> 
<!-- 						***********************INICIA CONTENIDO******************************** -->
						<p:dataTable var="ConsAnt" value="#{consultaCrediticiaView.listaConsultaAnterior}">
		<p:column headerText="" class="tres_porciento">
			<h:outputText value="" />
		</p:column>
		<p:column headerText="Folio" class="center nueve_porciento"  >
			<h:outputText value="#{ConsAnt.folio}" />
		</p:column>

		<p:column headerText="Bur&oacute;" class="center nueve_porciento" >
			<h:outputText value="#{ConsAnt.antecedentes}" />
		</p:column>
		
		<p:column headerText="Autoriz&oacute;" class="center nueve_porciento" >
			<h:outputText value="#{ConsAnt.autoriza}" />
		</p:column>
		
		<p:column headerText="Fecha" class="center nueve_porciento">
			<h:outputText value="#{ConsAnt.fecha}" />
		</p:column>
		<p:column headerText="Observaciones" class="center veinticinco_porciento" >
			<h:outputText value="#{ConsAnt.resultado}" />
		</p:column>
		<p:column headerText="" class="center cuatro_porciento" >
			<p:graphicImage value="resource/images/impresora.png" class="centrar_imagen_tabla" >
			</p:graphicImage>
		</p:column>
	</p:dataTable>
<!-- 						***********************TERMINA CONTENIDO********************************* -->
						</div>
				<h:panelGrid columns="2" cellpadding="10">
				</h:panelGrid>
			</p:tab>
			
		</p:accordionPanel>
	</div>
	</h:form>
</body>
</html>