<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<!-- 	<script type="text/javascript" src="resource/js/acordionDatos.js"></script> -->
</h:head>
<body onload="#{posicionGlobal.init()}">
	<h:form>
	<div class="borde visualizarDetallesTabla">
			<font class="etiquetaBorde"><b>Informaci&oacute;n:</b></font>
			<br />
	
			<p:dataTable var="seguros" value="" > 
							<p:column headerText="" class="center cuatro_porciento" >
								<f:facet name="header">
									<h:graphicImage value="resource/images/flecha.png"
										class="img_tablas" />
							</f:facet>
							<p:graphicImage value="resource/images/flecha.png"	class="img_tablas"></p:graphicImage>
							</p:column>
							
							<p:column headerText="Id" class="center cuatro_porciento">
								<h:outputText value="01" />
							</p:column>
							
							<p:column headerText="Nombre otorgante" class="center">
								<h:outputText value="nombre" />
							</p:column>
							
							<p:column headerText="MOP" class="center">
								<h:outputText value="Comunicaciones" />
							</p:column>

							<p:column headerText="Calificaci&oacute;n" class="center">
								<h:outputText value="04=AT" />
							</p:column>

							<p:column headerText="Observaci&oacute;n" class="center">
								<h:outputText value="D" />
							</p:column>

							<p:column headerText=">" class="center cuatro_porciento">
								<h:outputText value="" />
							</p:column>
							
							<p:column headerText=">" class="center cuatro_porciento">
								<h:outputText value="" />
							</p:column>

						</p:dataTable>
						<div class="borde noventaysietePorciento">
						<font class="autorizaci&oacute;n"></font>
						<table class="table">
						<tr>
							<td>
								<font><b>Autorizar:</b></font>
								<h:graphicImage value="resource/images/aceptar.png" class="img_tablas20" />
								<h:graphicImage value="resource/images/cancelar.png" class="img_tablas20" />
							</td>
						<td><font><b>Motivo Autorizaci&oacute;n:</b></font></td>
						<td><h:inputText class="form-control estiloMayus" value=""></h:inputText></td>
						</tr>
						</table>
						
						</div>
		</div>
		
		<div class="borde visualizarDetallesCalificacion">
		<font class="etiquetaBorde"><b>Calificaci&oacute;n circulo:</b></font>
		<table class="table">
			<tr>
				<td><b><font>Califici&oacute;n circulo:</font></b></td>
				<td><font>D</font> </td>
			 </tr>
			 <tr>
				<td><b><font>Estatus circulo:</font></b></td>
				<td><font>OTROS SERVICIOS</font></td>
			 </tr>
			 <tr>
				<td><b><font>Monto m&aacute;ximo otorgado:</font></b></td>
				<td><font>$100,000.00 M.N.</font></td>
			 </tr>
		</table>
		</div>
		
		<div class="borde visualizarDetallesCalificacion">
		<font class="etiquetaBorde"><b>Calificaci&oacute;n Scoring:</b></font>
		<table class="table">
			<tr>
				<td><b><font>Calificaci&oacute;n Scoring:</font></b></td>
				<td><font>150</font></td>
			 </tr>
			 <tr>
				<td><b><font>Estatus Scoring:</font></b></td>
				<td><font>OTROS SERVICIOS</font></td>
			 </tr>
			 <tr>
				<td><b><font>Producto:</font></b></td>
				<td><font>MICROCR&Eacute;DITO:</font></td>
			 </tr>
			 <tr>
				<td><b><font>Monto solicitado:</font></b></td>
				<td><font>$25,000.00 M.N.</font></td>
			 </tr>
		</table>
		<a class="link">Detalle scoring</a>
		</div>
	</h:form>
</body>
</html>