<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<script type="text/javascript" src="resource/js/acordionDomicilios.js"></script>
	<link rel="stylesheet" href="resource/css/datosDomicilio.css"
		type="text/css" media="all" />
</h:head>
<body  onload="#{domiciliosDatosView.init()}">
<h:form id="acordeonGeneral">
	<div class='Acordion'>
		<p:accordionPanel id="domicilios_form" activeIndex="#{telefonos.activeIndex}">
			<p:tab>

				<f:facet name="title">
					<p:graphicImage class="acordeonImageSize"
						value="resource/images/acordion/datosDomicilio.png" />
					<h:outputText value="Datos Domicilio" />
				</f:facet>

				<div id="datosdomicilio" class="content tab2">

					<!-- *************************INICIA CONTENIDO************************ -->
					<h:form id="form-domDatos" class="content">
						<input type="hidden" value="#{domiciliosDatosView.pantalla}"
							name="pantalla" id="pantalla" />
						<div class="row divIputContent">
							<div class="col-md-2 col-md-offset-10 divIputContent">
								<ul class="list-inline">
									<li class="list-inline-item liStyle ">
										<p:commandLink class="functionAddDom" id="plus" actionListener="#{domiciliosDatosView.add}" update=" acordeonGeneral">
											<h:graphicImage value="resource/images/plus.png" class="imagen" />
										</p:commandLink>
									</li>
									<li class="list-inline-item">
										<p:commandLink	id="domicilios_datos_guardar"	class="telefono_datos_guardar btnGuardar functionGuardarDom" oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);"
											actionListener="#{domiciliosDatosView.save}" update="growl acordeonGeneral:domicilios_form:formDomicilios02"	onclick="validarCampos();">
											<h:graphicImage class="imagenDomicilios" value="resource/images/guardar.png" />
										</p:commandLink>
									</li>
									<li class="list-inline-item ">
										<p:commandLink id="cerrar"	actionListener="#{domiciliosDatosView.eliminar}"	oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);"
											update="acordeonGeneral" class="functionCancelarDom">
											<h:graphicImage value="resource/images/cerrar.png"	class="imagenDomicilios" />
										</p:commandLink>
									</li>

								</ul>
							</div>
						</div>
						<p:messages id="growl" showDetail="true" sticky="true" />

						<div class="row">
							<div class="col-sm-9">
								<table class="table">
									<tr>
										<td class="etiqueta-col-tel w27"><font>
												<p class="estiloEtiquetasDomicilios">C&oacute;digo Postal:
												</p>
										</font></td>
										<td class="col-md-6">
											<p:inputText maxlength="5" id="cp" class="campo-cp"
												value="#{domiciliosDatosView.codigoPostal}"	onkeypress="return justNumbers(event);">
												<p:ajax event="keyup" listener="#{domiciliosDatosView.validarColonia}" update ="acordeonGeneral:domicilios_form:form-domDatos:cmbColonia"/>
											</p:inputText>
											<b class="colorRojo datoObligatorio">&#42;</b></td>
										<td class="col-md-6"><p:selectBooleanCheckbox
												id="checkTelDatos01" value="#{domiciliosDatosView.principal}" class="check"></p:selectBooleanCheckbox><font
											class="estiloEtiquetas ml estiloEtiquetasDomicilios">Principal</font></td>
									</tr>
									<tr>
										<td class="w27">
											<font>
												<p class="estiloEtiquetasDomicilios">Colonia:</p>
											</font>
										</td>
										<td><p:selectOneMenu id="cmbColonia"
												value="#{domiciliosDatosView.colIdCmbo}" class="cmbColonia tipoLetraUbuntu estiloEtiquetasDomicilios"
												onchange="cambiaColorcmboColonia();">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												 <f:selectItems value="#{domiciliosDatosView.listColoniasFiltro.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
											</p:selectOneMenu> <b class="colorRojo datoObligatorio">&#42;</b></td>

									</tr>
								</table>
							</div>
						</div>



						<div class="row">
							<div class=" col-sm-8 col-md-8 col-lg-8 ">
								<table class="table">
									<tr>
										<td class="col-md-3"><font class="estiloEtiquetas ml">
												<p class="estiloEtiquetasDomicilios">Ubicaci&oacute;n:</p>
											 </font>
										</td>
									</tr>
									<tr>
										<td class="col-md-3"><p:selectOneMenu
												value="#{domiciliosDatosView.ubicIdCmbo1}"
												id="CmbdomiciliosDatos02"
												class="comboSizeDomicilios estiloMayus tipoLetraUbuntu"
												onchange="cambiaColorCmboUbic1();" disabled="#{domiciliosDatosView.disableUbic01}">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												<f:selectItems value="#{domiciliosDatosView.ubic1.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
												
        									 	</p:selectOneMenu></td>

										<td class="col-md-7"><p:inputText id="txtDescrip1"
												class="tamanioCajaText2 text-uppercase tipoLetraUbuntu" maxlength="150"
												value="#{domiciliosDatosView.descripcionU1}">
											</p:inputText> <b class="colorRojo datoObligatorio">&#42;</b></td>

									</tr>

									<tr>
										<td><p:selectOneMenu id="CmbdomiciliosDatos03"
												value="#{domiciliosDatosView.ubicIdCmbo2}"
												class="comboSizeDomicilios tipoLetraUbuntu"
												onchange="cambiaColorCmboUbic2();" disabled="#{domiciliosDatosView.disableUbic01}">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												 <f:selectItems value="#{domiciliosDatosView.ubic2.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
											</p:selectOneMenu></td>
										<td><p:inputText id="txtDescrip2"
												class="tamanioCajaText2 text-uppercase tipoLetraUbuntu" maxlength="150"
												value="#{domiciliosDatosView.descripcionU2}" /> <b
											class="colorRojo datoObligatorio">&#42;</b></td>

									</tr>

									<tr>
										<td><p:selectOneMenu id="CmbdomiciliosDatos04"
												value="#{domiciliosDatosView.ubicIdCmbo3}"
												class="comboSizeDomicilios tipoLetraUbuntu"
												onchange="cambiaColorCmboUbic3();" disabled="#{domiciliosDatosView.disableUbic01}">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												 <f:selectItems value="#{domiciliosDatosView.ubic3.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
											</p:selectOneMenu></td>

										<td><p:inputText id="txtDescrip3"
												class="tamanioCajaText2 text-uppercase tipoLetraUbuntu" maxlength="150"
												value="#{domiciliosDatosView.descripcionU3}" /> <b
											class="colorRojo datoObligatorio">&#42;</b></td>

									</tr>

									<tr>
										<td><p:selectOneMenu id="CmbdomiciliosDatos05"
												value="#{domiciliosDatosView.numIdCmbo1}"
												class="comboSizeDomicilios tipoLetraUbuntu"
												onchange="cambiaColorCmbonum1();" disabled="#{domiciliosDatosView.disableUbic01}">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												 <f:selectItems value="#{domiciliosDatosView.num1.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
											</p:selectOneMenu></td>

										<td><p:inputText id="txtDescripN1"
												class="tamanioCajaText text-uppercase tipoLetraUbuntu" maxlength="100"
												value="#{domiciliosDatosView.descripcionN1}" /> <b
											class="colorRojo datoObligatorio">&#42;</b></td>

									</tr>

									<tr>
										<td><p:selectOneMenu id="CmbdomiciliosDatos06"
												value="#{domiciliosDatosView.numIdCmbo2}"
												class="comboSizeDomicilios tipoLetraUbuntu"
												onchange="cambiaColorCmbonum2();" disabled="#{domiciliosDatosView.disableUbic01}">
												<f:selectItem itemLabel="--SELECCIONAR--" itemValue="" />
												<f:selectItems value="#{domiciliosDatosView.num2.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
											</p:selectOneMenu></td>
										<td><p:inputText id="txtDescripN2"
												class="tamanioCajaText text-uppercase tipoLetraUbuntu" maxlength="100"
												value="#{domiciliosDatosView.descripcionN2}" /></td>
									</tr>
								</table>
 
									<table  class="table">
									<tr>
										<td class="col-md-1"><font class="estiloEtiquetas">
											<p class="estiloEtiquetasDomicilios">Referencia</p></font>
										</td>
										<td class="col-md-12"><p:inputTextarea
												id='textarea' class="textarea  text-uppercase tipoLetraUbuntu"
												maxlength="250" value="#{domiciliosDatosView.referencia}" />
											</td>
										</tr>
									</table>
									<br/>
									<br/>
									<br/>
									<table>
									<tr class="trTop">
										<td class="col-md-1 "><font class="estiloEtiquetas"><p class="estiloEtiquetasDomicilios">Direcci&oacute;n</p> </font></td>
										<td class="" ><font><h:outputText class="estiloEtiquetasDomicilios" value="#{domiciliosDatosView.direccion}" />
										</font></td>
									</tr>
									</table>

<!-- 								</div> -->
							</div>
							<div class="col-sm-4 col-md-4">
								<div class="divMapa">
									<table class="table mt15">
										<tr>
											<td><font class="estiloEtiquetasDomicilios"><b
													class="estiloEtiquetasDomicilios">Ubicaci&oacute;n
														Geogr&aacute;fica:</b></font></td>
										</tr>
										<tr>
											<td><iframe class="map" src="index2.xhtml"></iframe></td>
										</tr>
										<tr>
											<td>
												<font class="estiloEtiquetasDomicilios"/>
												<font class="estiloEtiquetasDomicilios ">Latitud:</font>
												<font id="lt_map" class="tipoLetraUbuntu">&nbsp;&nbsp;&nbsp;24.27924</font>
											</td>
										</tr>
										<tr>
											<td>
												<font class="estiloEtiquetasDomicilios"/>
												<font class="estiloEtiquetasDomicilios ">Longitud:</font> 
												<font id="lg_map" class="tipoLetraUbuntu">-110.384593</font>
											</td>
										</tr>
										<tr>
											<td><font class="estiloEtiquetas">
												<font class="estiloEtiquetasDomicilios"> <p class="estiloEtiquetasDomicilios">nombreImg</p>
																</font></font>  
																  <p:commandLink  type="button" onclick="PF('dlg2').show();"	>
											<h:graphicImage value="resource/images/adjuntar.png" class="img-responsive size-img centrar_imagen_tabla dimensionAdjunta" />
										</p:commandLink>
																
										
											</td>
											    
										</tr>
									</table>

								</div>
							</div>
						</div>
					</h:form>



					<!-- 			***********************TERMINA CONTENIDO************************** -->
				</div>
				<h:panelGrid columns="2" cellpadding="10">

				</h:panelGrid>
			</p:tab>
			<p:tab>

				<f:facet name="title" class="left">
					<p:graphicImage class="acordeonImageSize"
						value="resource/images/acordion/historicoDomicilios.png" />
					<h:outputText value="Hist&oacute;rico Domicilios" />
				</f:facet>

				<div id="historicodomicilios" class="content tab2">
					<!-- 			*************************INICIA CONTENIDO************************ -->


					<h:form id="formDomicilios02">
						<input type="hidden" value="#{domiciliosDatosView.pantalla}" name="pantalla" id="pantalla" />
						<p:dataTable var="DomHist" class="table_Telefonos textCenter" value="#{domiciliosDatosView.listaDomicilios}" rowKey="#{DomHist.idDom}" selectionMode="single" 
								selection="#{domiciliosDatosView.beanDomicilioSelect}"	emptyMessage="#{domiciliosDatosView.mensaje}">
							<p:ajax event="rowSelect" listener="#{domiciliosDatosView.onRowSelect}" update="acordeonGeneral"/>
							<p:column headerText="" class="center cuatro_porciento">
								<f:facet name="header">
									<h:graphicImage value="resource/images/flecha.png" class="img_tablas" />
								</f:facet>
								<p:graphicImage value="resource/images/flecha.png" class="img_tablas"/>
							</p:column>
							<p:column headerText="Direcci&oacute;n" class="center oculto ">
								<h:outputText value="#{DomHist.idDom}" class='sesenta_porciento fs10' />
							</p:column>
							<p:column headerText="Direcci&oacute;n" class="center fs10">
								<h:outputText value="#{DomHist.direccion}"	class='sesenta_porciento fs10' />
							</p:column>
							<p:column headerText="Fecha creaci&oacute;n" class="center nueve_porciento fs10">
								<h:outputText value="#{DomHist.fechaCreacion}" />
							</p:column>
							<p:column headerText="Fecha modificaci&oacute;n" class="center nueve_porciento fs10">
								<h:outputText value="#{DomHist.fechaModificacion}" />
							</p:column>
							<p:column headerText="Estatus" class="center nueve_porciento fs10">
								<h:outputText value="#{DomHist.estatus}" />
							</p:column>
							<p:column headerText="Principal" class="center nueve_porciento fs10">
								<p:selectBooleanCheckbox value="#{DomHist.principal}" disabled="true"></p:selectBooleanCheckbox>
							</p:column>
						</p:dataTable>
					</h:form>
					<!-- 			***********************TERMINA CONTENIDO************************** -->
				</div>
				<h:panelGrid columns="2" cellpadding="10">
				</h:panelGrid>
			</p:tab>

		</p:accordionPanel>
	</div>
	</h:form>
	<!-- 	Ventana Modal para subir archivo -->
		<p:dialog resizable="false" appendTo="@(body)" modal="true"   header="Subir Archivo Alfresco" widgetVar="dlg2" width="600" height="160">
		    <h:form >
				<p:fileUpload label="Seleccionar Archivo" fileUploadListener="#{domiciliosDatosView.handleFileUpload}" mode="advanced"
	                     update="messages" auto="true" sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
	   			 <p:growl id="messages" showDetail="true" />
			</h:form>
		
		</p:dialog>  
	<!-- 	fin Modal -->
</body>
</html>