<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<HEAD>
<!-- <link rel="stylesheet" href="css/header.css" type="text/css" media="screen"/> -->
</HEAD>
<h:body>
	<h:panelGroup id="panel-header" layout="block">
		<h:dataTable>
			<h:column>
				<f:facet name="header">Elemento01</f:facet>
				<f:facet name="header">Elemento02</f:facet>
			</h:column>
		</h:dataTable>
	</h:panelGroup>
</h:body>

</html>