 .font10px{
 	font-size: 10px !important;
 }
.inputDomicilio{
	width: 88%!important;
}
.imagen {
    width: 32px!important;
    height: 32px!important;
}
.lada{
	width: 20%;
    max-width: 20%;
    height: 26px!important;
    box-shadow: none!important;
}
.numero2{
	width: 48%;
    max-width: 48%;
    height: 26px!important;
    box-shadow: none!important;
    margin-left: 7px;
}

.numero{
	width: 61%;
    max-width: 61%;
    height: 26px!important;
    box-shadow: none!important;
}
.coloniaDatos{
	width: 83%;
}

.mborde{
	margin-top: 2%;
}

.acordeonInformacionLaboral{
	display: none !important;
}

.comboSelector{
	min-width: 70%!important;
}
.mt3{
	margin-top: 3%;
}
.wt90{
	width: 90%!important;
}