@CHARSET "ISO-8859-1";
.divIputContent{
	padding-bottom: 0; 
	margin-bottom: 0;
	height: 1%;
}
.imagenDomicilios{
	width:32px;
	height:32px;
}

.inputDomicilios{
	margin-left:6% !important;
	 width:90% !important;
	 font-size: 12px !important;
}
.check{
	margin-left:1%;
}
.map{
	width: 280px;
	height: 167px;
	border: 0px
}
.divMapa{
	float: right;
}
.btnGuardar{
	border: none; 
	background: none;
}

.ml{
	margin-left: 1%;
}
.cmbColonia {
    width: 85.5% !important;
}
.campo-cp{
    width: 85.5% !important;
	box-shadow: none !important;
	height: 26px !important;
	font-size: 12px;
}
.textarea{
	width:77%;
	height:10vh !important; 
	border: 3px solid #cccccc;
	resize: none;
	box-shadow: none!important;
}
.tablaRef{
	margin-top: 2%;
}
.titulo{
	font-family: Ubuntu-R !important;
    color: #3b547b !important;
	font-size: 10px;
}

.trTop{
height: 100px;
}

.Acordion{
	height: 82%;
}

.historico_tabla{
	text-align: center;
	width: 90%;
	
}
.center_tabla{
	margin: 0 auto;
} 
.left{
	float: left;
	text-align: left;
	} 
.comboSizeDomicilios{
	width:100%;
	min-width:100%!important;
	autoWidth=false;
	
}
.estiloEtiquetasDomicilios{
	font-family: Ubuntu-R !important ;
	color: #3b547b !important;
	size: 10px !important;
	text-transform: uppercase;
}
.estiloEtiquetasDomiciliosNegro{
	font-family: Ubuntu-R !important ;
	size: 10px !important;
}
.tipoLetraUbuntu{
	font-size: 10px!important;
}
.fs10{
	font-size: 10px!important;
}

.etiqueta-col-tel{
	width: 15%;
}
.w27{
	width: 27%;
}	
	
