@CHARSET "ISO-8859-1";



.ui-fileupload-buttonbar .ui-button {
   height: 2em;
	
}
/* adjust the padding of all buttons inside the file upload button bar */
.ui-fileupload-buttonbar .ui-button-text-icon-left .ui-button-text {
    font-size: 1em;
    padding-top: 1em;
    padding:  0.08em;
}


/* unstyle the file upload button bar background */
.ui-fileupload-buttonbar.ui-widget-header {
    background-color: transparent;
}


/* remove the border of file upload content list */
.ui-fileupload-content {
	height: 120px;
} 

.ui-dialog .ui-dialog-content{
	
	overflow: hidden !important;
	
}