.estiloEtiquetasDomicilios{
	font-family: Ubuntu-R !important ;
	color: #3b547b !important;
	size: 100px !important;
	float: left;
}

.form-controlIdentificaciones{
	width: 100% ;
	height: 26px !important;
	box-shadow: none !important;
	display: inline !important;
	font-size: 12px!important;
}

.comboSizeIdentificaciones{
	min-width:100%!important;
	max-width:100%!important;
}

.pb50{
	padding-bottom: 50px!important;
}
.fs10{
	font-size: 10px!important;
}

.ui-outputlabel{
	color:red;
}