.ancho100{
	width: 100%!important;
}

.alto1{
	height: 1%;
}
.p0m0{
	margin-bottom: 0;
	padding-bottom: 0;
}
.imagenTam{
	width:16px;
	height:"16px;
}
.brd0_bck0{
	border: 0;
	background;none;
}

.w20{
	width: 33%!important;
	vertical-align:middle;
	margin-right: 1%;
}
.w70{
	margin-left:1%;
	min-width:31%!important; 
	vertical-align:middle
}