@CHARSET "ISO-8859-1";
@font-face {
	font-family: Ubuntu-R;
	src: url(../fonts/Ubuntu-R.ttf);

}
.cabecera {
	background-color: #4B5B7D;
    position: fixed;
    left: 0%;
    /* top: 6%; */
    height: 8%;
    width: 100%;
}
.cabecera_nombre {
    padding-top: 3%;
}
.texto_banco {
    color: white;
}
.mayusculas{
	text-transform: uppercase;
}
.colorgris{
	color: #575656 !important;
}
.letraHead{
	font-size: 1.5em;
    float: right;
    margin-top: 1%;
}
.ceroHead{
	font-size: 1.5em;
    float: left;
    margin-top: 1%;
}
.imgArrow{
	height: 62px;
}
/*Content*/
#content-gral-log{
    background-color: #ffffff;
    position: fixed;
    left: 0%;
    top: 8%;
    height: 86%;
    width: 100%;
}
.imgLog{
	position: relative;
    margin-top: 2%;
    float: inherit;
    width: 266px;
    height: 90px;
    margin-left: 41%;
}
/*footer*/
.message {
	color: #4F4F4F;
	background-color: #f5f5f5;
	position: fixed;
	left: 0%;
	bottom: 0%;
	height: 6%;
	width: 100%;
	/*Estilo de borde*/
	border-style: groove;
	border-color: #fcf8e3;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
}
.messaget {
    float: right;
    /* text-align: center; */
    margin-top: 0.5%;
    font-size: 1.0em;
    cursor: pointer;
    margin-top: -3px;
}
.txtCorp{
    font-size: 11px;
    float: right;
    margin-top: 26px;
    margin-right: -305px;
}
.help-footer-log{
	float: left;
	width: 40px;
	cursor: pointer;
}
.content-img-help{
	position: relative;
    margin-left: 2%;
    margin-top: 0.3%;
}
.text_logo{
	color:#3b547b;!important;
	font-size: 10px !important;
	float: inherit;
    margin-left: 41%;
    font-family: Ubuntu-R;
}
/**Estilo Input log**/
.tablaLog{
	float: inherit;
    margin-left: 40%;
    width: 16%;
}
.filaLog{
	height: 80px;
}
.inputTamano{
	    width: 100%;
}
.anchoLog{
		height: 80px;
}
/**Estilo CheckBox Robot**/
.imgBot{
	float: inherit;
    margin-left: 43%;
    margin-top: 2%;
    width: 190px;
}
.checkBot{
    float: inherit;
    position: relative;
    right: 180px;
    top: 18px;
}
.imgLogArrow{
	float: inherit;
	width: 73px;
    margin-left: 47%;
    margin-top: 2%;
    cursor: pointer;
}
/**Estilo Token Login**/
.textTime{
	text-align: center;
    margin-left: 14%;
}
.btnIngresa {
    width: 54%;
    margin-left: 42%;
    color: white;
    background: #4B5B7D;
    border: 2px solid rgba(75, 91, 125, 0.55);
    box-shadow: 0 0 15px 2px #b5b5b5;
}

#loginCaptcha{
	margin:top:5%;
	margin-left: auto;
	margin-right: auto;
}
.captcha{
	margin:top:5%;
	margin-left: auto;
	margin-right: auto;
}
.ui-messages-error-detail{
	display:none!important;
}
/***estilo modal Recupera contrasena**/
.tablaRecuperaContrasena{
	float: inherit;
    margin-left: 6%;
    width: 87%;
}
.footer-mod{
	color: #4F4F4F;
	background-color: #f5f5f5;
	    padding: 0px !important;
	/*Estilo de borde*/
	border-style: groove;
	border-color: #fcf8e3;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
}
.cabeceraMod{
	background-color: #4B5B7D;
    position: fixed;
    left: 0%;
    /* top: 6%; */
    height: 14%;
    width: 100%;
}
.bodyModal{
	padding-top: 12% !important;
}
.tamanoModal{
	width: 50%;
}

#modal2{
 	display:none;	
}
/****MODAL TOKEN********/
.tablaTokenModal{
	float: inherit;
    margin-left: 19%;
    width: 60%;
    text-align: center;
}
.textTimeModal{
	text-align: center;
	margin-left: 0%;
}
.imgArrowTokenModal{
    float: inherit;
    width: 73px;
    margin-left: 42%;
    margin-top: 2%;
    cursor: pointer;
}
.textoEstilo{
	color:#3b547b;!important;
	font-size: 10px !important;
    font-family: Ubuntu-R;
}
.btnCerrar{
	background-image: url("../../../icon-cerrar.JPG");
	background-repeat: no-repeat;
}
.imgArrowTokenModal2{
    float: inherit;
    width: 73px;
    margin-left: 42%;
}
.estiloCerrar{
    float: none;
    z-index: 5;
    width: 4%;
    margin-left: 95%;
    top: 38px;
    cursor: pointer;
    position: relative;
}
/*************LOGIN BUSQUEDA***************/
.messagetBusqueda{
	text-align: center;
	margin-top: 0.5%;
	font-size: 1.0em;
	cursor: pointer
}
.logBusquedaTitulo{
    color: #3b547b;
    font-size: 15px !important;
    margin-left: 8%;
}
.busqueda-content{
    position: inherit;
    height: 800px;
    border-style: groove;
    border-color: rgb(245, 245, 245);
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 2px;
    border-left-width: 0px;
}
.numClienteBusqueda{
	width: 93%;
    float: inherit;
    margin-left: 8%;
}
.bqdaAvanzadaTitutlo{
	float: right;
	font-size: 10px !important;
    font-family: Ubuntu-R;
    margin-left: 9%;
}
.clientes{
	background: #3b547b;
    color: white;
    font-size: 2em;
    margin-left: 19%;
    width: 50%;
    margin-top: 2%;
    height: 44px;
}
.credito{
	background: #3b547b;
    color: white;
    font-size: 2em;
    margin-left: 19%;
    width: 50%;
    margin-top: 3%;
    height: 44px;
}
.ahorro{
	background: #3b547b;
    color: white;
    font-size: 2em;
    margin-left: 19%;
    width: 50%;
    margin-top: 3%;
    height: 44px;
}
.inversion{
	background: #3b547b;
    color: white;
    font-size: 2em;
    margin-left: 19%;
    width: 50%;
    margin-top: 3%;
    height: 44px;
}
.seguro{
	background: #3b547b;
    color: white;
    font-size: 2em;
    margin-left: 19%;
    width: 50%;
    margin-top: 3%;
    height: 44px;
}
.imgBusqueda{
    width: 40px;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    }
.tamanoTitulo{
	font-size: 24px;
}
/****/
.ui-widget-content {
	margin-top: 12%;
    margin-left: 6%;
    border: 1px solid #a8a8a8;
    background: #fff;
    color: #4f4f4f;
}