@CHARSET "ISO-8859-1";@font-face {
.md-renovacionToken{
	width: 799px;
	height: 554px;
}

.md-content-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	pointer-events: none;
	z-index: 1002;
}

.md-modal {
	top: 10%;
	background: #fff;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-modal-title {
	text-align: center;
	font-family: Lato-Black;
	font-size: 36px;
	color: #225AA7;
	padding: 25px 20px 35px;
	margin: 0;
}

.md-modal-sub-title {
	text-align: center;
	font-family: Lato-Semibold;
	font-size: 28px;
	color: #FFFFFF;
	background: #225AA7;
	height: 118px;
}

.md-mostrar-modal{
	opacity: 1;
	pointer-events: all;
}

.trigger-modal{
	width: 25%;
	background: cyan;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 25px;
	font-family: arial;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}


.btn-azul{
	background: #225AA7;
	border: 1px solid #D1D1D1;
	box-shadow: inset 0px -3px 0px 0px #164695;
	border-radius: 3px;
	width: 136px;
	height: 30px;
	font-family: Lato-Regular;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0px;
	text-shadow: 0px 1px 0px #164695;
}

.btn-amarillo{
	background: #FDD614;
	border: 1px solid #D1D1D1;
	/*background-image: linear-gradient(0deg, rgba(0,0,0,0.50) 0%, rgba(253,214,19,0.00) 100%);*/
	box-shadow: inset 0px -2px 0px 0px #F9AC18;
	border-radius: 3px;
	width: 136px;
	height: 30px;
	font-family: Lato-Regular;
	font-size: 14px;
	color: #1C479A;
	letter-spacing: 0px;
	/*text-shadow: 0px 1px 0px #F9AC18;*/
}
.md-ayuda-modal{
	width: 467px;
	height: 263px;
}

 