body, html{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background-color: #FAFAFA;
}
@font-face {
	font-family: Ubuntu-R;
	src: url(../fonts/Ubuntu-R.ttf);
	/*font-weight: 400;*/

}

* {
	font-family: Ubuntu-R;
}

header, section, footer{
    display: block;
    width: 100%;

}

header{
    top: 0;
    height: 6em;
    background: #FAFAFA;
    position: absolute;
    z-index: 1;

}
section {
    height: 100%;
    padding-top: 6em;
    padding-bottom: 5em;
    position: absolute;
    background: #FAFAFA;
    z-index: 0;
}
footer{
    height: 5em;
    background: #FAFAFA;
    position: absolute;
    bottom: 0;
    z-index: 1;

}

/*Contenedores de cabecera y pie de pagina*/
.header-data-user{
    display: block;
    height: 3em;
    background: #000;
    color: #fff;
}

.user-and-user, .page-date-time{
    padding: 5px;
}
.list-user-group{
    margin-left: 0;
    padding-left: 5px;
    list-style: none;
}
.list-user-group ul li {
    list-style: none;
    margin-left: 0;
    padding-left: 5px;
}
.header-data-user.page-date-time{
    float: right;
    font-weight: bold;
    color: #fff;
}

.page-title{
    margin-top: 0;
    display: block;
    height: 3em;
    background-color: #4B5B7D;
    color:#fff;
    vertical-align: middle;
}
h1{
    margin: 0;
    font-size: 2em;
}
.page-title h1{

    color:#fff;
    padding: 5px;

}

.access-key{
    margin: 0;
    padding: 15px;
  
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* fin */

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}



/*Comienza Wrapper*/
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
     border-left-style: none !important;
    border-top-style: none !important;
    border-bottom-style: none !important;
    border: 1px solid #BDBDBD;
  margin-left: -250px;
  top: 84px;
  left: 250px;
  width: 250px;
  background: #FAFAFA;
  position: fixed;
  height: 42em;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  height: 5em;
    border-left-style: none !important;
    border-top-style: none !important;
    border-right-style: none !important;
    border: 1px solid #BDBDBD;

}

.sidebar-nav li a {
  color: #4B5B7D;
  height: 5em;
  display: block;
  text-decoration: none;
  padding-left: 60px;
  vertical-align: middle;
    display: flex;
    align-items: center;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #4B5B7D;
  height: 5em;
  background-color: #BDBDBD;
  font-weight: bold;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}



}







