/**
  *estilos adicionales para las pantallas telefonos
  *author:JMATA
  *date:june-7-2017
**/
.table_Telefonos{
	width: 65%;
    margin: 0 auto;
}

.estiloEtiquetasDomicilios{
	font-family: Ubuntu-R !important ;
	color: #3b547b !important;
	size: 10px !important;
}
.estiloEtiquetasDomiciliosNegro{
	font-family: Ubuntu-R !important ;
	size: 10px !important;
}
.tipoLetraUbuntu{
	font-size: 10px!important;
}
.table > tr > td .tel_table_td{
	width: 12%;
}

.etiqueta-col{
    width: 13%;
}

.etiqueta-col-observaciones{
    width: 1%;
}
@media (min-width: 992px){
.etiqueta-col{
    width: 13.6%;
}

.liStyle{
	height: 1%;
}
.imagen{
	width:32;
	height:32;
}

.checkTelefonos{
	margin-left:15px;
}
.inputExt{
	width:202px;
	}
.textAreaObvservaciones{
	width: 70%;
	height:70px;
	border: 3px solid #cccccc;
	resize: none;
	box-shadow: none!important;
}
.inputlada{
	width:20%;
	max-width: 20%;
	height: 26px!important;
	box-shadow: none!important;
}

.numero{
	width:48%; 
	max-width:48%;
	margin-left:2% !important; 
	height: 26px!important;
	box-shadow: none!important;
}
.align_left{
	float: left;
}

.fs10{
	font-size: 10px!important;
}