<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
  
<h:head>
	<script type="text/javascript" src="resource/js/acordionTelefonos.js"></script>
	<link rel="stylesheet" type="text/css"	href="resource/css/telefonos.css"> </link>
</h:head>
<body onload="#{telefonos.init()}">
  <h:form id="acordeonGeneral">
	<div class='Acordion AcordionTelefonos'>
			<p:accordionPanel id="telefonos_form"  activeIndex="#{telefonos.activeIndex}">
<!-- TAB DE DATOS TELEFONO -->
				<p:tab class="datostelefono_tab">
					<f:facet name="title">
						<p:graphicImage class="acordeonImageSize"	value="resource\images\telefonos.png" />
						<h:outputText value="Datos Telefónicos" />
					</f:facet>
				<h:form id="telefonos" class="content">
				 <p:messages id="growl" showDetail="true" sticky="true" />  
<!-- Se obtiene la información del View para saber en que pantalla se encuentra -->
					<input type="hidden" value="#{telefonos.pantalla}" name="pantalla" id="pantalla" />
<!--  Div para botones de aciones -->
					<div class="row m0p0" >
						<div class="col-md-2 col-md-offset-10 m0p0"	>
							<ul class="list-inline">
								<li class="list-inline-item liStyle" >
										<p:commandLink class="functionAddTel" id="plus"  actionListener="#{telefonos.add()}" oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);"  update="acordeonGeneral"	>
	    									<h:graphicImage value="resource/images/plus.png" class="imagen" />
										</p:commandLink>
								</li>
									<li class="list-inline-item liStyle" >
										<p:commandLink	id="telefono_datos_guardar" class="telefono_datos_guardar br0_bg0 functionGuardarTel" onclick="setTimeout(function() { validarCampos()}, 2000);"
												actionListener="#{telefonos.save()}" update="growl acordeonGeneral" oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);" >
											<h:graphicImage value="resource/images/guardar.png" class="imagen" />
										</p:commandLink>
										</li>
									<li class="list-inline-item liStyle" >
										<p:commandLink class="functionCancelarTel"	id="cerrar" actionListener="#{telefonos.delete()}" oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);" update="acordeonGeneral">
											<h:graphicImage value="resource/images/cerrar.png" class="imagen" 	/>
										</p:commandLink>
									</li>
							</ul>
						</div>
					</div>
					<table  class="table">
						<tr>
							<td class="col-center tel_table_td etiqueta-col"><font class="estiloEtiquetasDomicilios">N&uacute;mero:</font></td>
							<td class="tel_table_td col-md-5"><p:focus for="lada" /> 
								<p:inputText id="lada" class="text-uppercase inputlada tipoLetraUbuntu"  maxlength="#{telefonos.ladaLength}" value="#{telefonos.lada}" onkeyup ="lada();" onkeypress="return justNumbers(event); ">
									<p:ajax event="keyup" listener="#{telefonos.validarLada}" update ="acordeonGeneral:telefonos_form:telefonos:numero"/>
								</p:inputText> 
								<p:inputText id="numero" class="text-uppercase numero tipoLetraUbuntu" maxlength="#{telefonos.maxchar}" value="#{telefonos.numero}" onkeypress="return justNumbers(event); numero();"/>
								<b class="colorRojo">&#42;</b>
							</td>
							<td> 
								<p:selectBooleanCheckbox id="checkTelDatos01"  class="bordoCheck checkTelefonos" value="#{telefonos.principal}" />
								<font class="estiloEtiquetasDomicilios"> Principal</font>
							</td>
							
						</tr>
						<tr>
							<td class="tel_table_td etiqueta-col">
								<font class="estiloEtiquetasDomicilios">Tipo Tel&eacute;fono:</font>
							</td>
							<td class="tel_table_td col-md-5">
								<p:selectOneMenu value="#{telefonos.tipoTelefono}" id="cmbTelefonosDatos01" class="comboSize text-uppercase tipoLetraUbuntu" disabled="#{telefonos.disabledTipoTelefono}">
									<f:selectItem itemValue="XXXX" itemLabel="--SELECCIONAR--" noSelectionOption="true"  />
 									<f:selectItems value="#{telefonos.listtipotel.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
 									<p:ajax listener="#{telefonos.validaExtension()}"  update ="acordeonGeneral:telefonos_form:telefonos:extension" />  
								</p:selectOneMenu>
								<b class="colorRojo">&#42;</b>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td class="tel_table_td etiqueta-col ">
								<font class="estiloEtiquetasDomicilios">Compa&ntilde;&iacute;a:</font>
							</td>
							<td class="tel_table_td ">
								<p:selectOneMenu id="cmbTelefonosDatos02" class="comboSize text-uppercase tipoLetraUbuntu" value="#{telefonos.compania}" onchange="cambiaColorcmbTelefonosDatos02();"  disabled="#{telefonos.disabledTipoTelefono}">
									<f:selectItem itemValue="XXXX" itemLabel="--SELECCIONAR--" noSelectionOption="true" />
									<f:selectItems value="#{telefonos.listcompaniatel.entrySet()}" var="entry"   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
								</p:selectOneMenu>
								<b class="colorRojo">&#42;</b>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td class="col-center tel_table_td etiqueta-form-tel etiqueta-col">
								<font class="estiloEtiquetasDomicilios">Extensi&oacute;n:</font>
							</td>
							<td class="tel_table_td">
								<p:inputText id="extension" class="text-uppercase form-control tipoLetraUbuntu" maxlength="#{telefonos.extensionLength}" value="#{telefonos.extension}" onkeypress="return justNumbers(event);" disabled="#{telefonos.disabled}"/>
							</td>
						</tr>
						<tr>
							<td class="etiqueta-col-observaciones">
								<font class="estiloEtiquetasDomicilios">Observaciones:</font>
							</td>
							<td >
								<p:inputTextarea id="texta01"	value="#{telefonos.observacion}" maxlength="#{telefonos.observLength}" class="estiloMayus textAreaObvservaciones tipoLetraUbuntu" />
							</td>
						</tr>	
					</table>
<!-- 					<table class="table"> -->
<!-- 						<tr> -->
<!-- 							<td class="etiqueta-col-observaciones"> -->
<!-- 								<font class="estiloEtiquetasDomicilios">Observaciones:</font> -->
<!-- 							</td> -->
<!-- 							<td class="col-md-6"> -->
<!-- 								<p:inputTextarea id="texta01"	value="#{telefonos.observacion}" maxlength="#{telefonos.observLength}" class="estiloMayus textAreaObvservaciones tipoLetraUbuntu" /> -->
<!-- 							</td> -->
<!-- 						</tr>	 -->
<!-- 					</table> -->
				</h:form>
			</p:tab>
<!-- TAB DE DIRECTORIO TELEFONOS -->
			<p:tab class="directoriotelefono_tab"> 
				<f:facet name="title">
					<p:graphicImage class="acordeonImageSize" value="resource\images\directorioTel.png" />
					<h:outputText value="Directorio Telef&oacute;nico" />
				</f:facet>
				<h:form  id="directorio_telefonos" class="pt2percent" >
<!-- Se obtiene la información del View para saber en que pantalla se encuentra -->
					<input type="hidden" value="#{telefonos.pantalla}" name="pantalla" />
					
					<p:dataTable var="tel" class="table_Telefonos textCenter align_left fs10" value="#{telefonos.listaDirectorio}"	selectionMode="single"	 rowKey="#{tel.idTelSeleccionado}" selection="#{telefonos.listaDirectorioSelected}"   emptyMessage="#{telefonos.mensaje}">
						<p:ajax event="rowSelect" listener="#{telefonos.onRowSelect()}" update="acordeonGeneral"/>
						<p:column headerText="" class="center cuatro_porciento" >
							<f:facet name="header">
								<h:graphicImage value="resource/images/flecha.png"
									class="img_tablas" />
							</f:facet>
							<p:graphicImage value="resource/images/flecha.png"
								class="img_tablas" />
						</p:column>
						<p:column headerText="id" styleClass="hidden" class="veinte_porciento oculto fs10" >
							<h:outputText value="#{tel.idTelSeleccionado}" />
						</p:column>
						<p:column headerText="lada" styleClass="hidden" class="veinte_porciento oculto fs10" >
							<h:outputText value="#{tel.lada}" />
						</p:column>
						<p:column headerText="observaciones" styleClass="hidden" class="veinte_porciento oculto fs10" >
							<h:outputText value="#{tel.observacion}" />
						</p:column>
						<p:column headerText="Tipo Teléfono" class="center cuarenta_porciento fs10">
							<h:outputText value="#{tel.tipoTelefono}" />
						</p:column>
						<p:column headerText="Compa&ntilde;ía Tel" class="center quince_porciento fs10">
							<h:outputText value="#{tel.compania}" />
						</p:column>
						<p:column headerText="N&uacute;mero" class="center quince_porciento fs10">
							<h:outputText value="#{tel.numero}" />
						</p:column>
						<p:column headerText="Extensi&oacute;n" class="center quince_porciento fs10">
							<h:outputText value="#{tel.extension}" />
						</p:column> 
						<p:column headerText="Principal" class="center quince_porciento fs10" >
							<p:selectBooleanCheckbox value="#{tel.principal}" disabled="true" />
						</p:column>
					</p:dataTable>
				
				</h:form>
			</p:tab>
		</p:accordionPanel>
	</div>
  </h:form>
</body>
</html>